*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
working
localdev.env
docker.env
development.env


# Elastic Beanstalk Files
# .elasticbeanstalk/*
# !.elasticbeanstalk/*.cfg.yml
# !.elasticbeanstalk/*.global.yml

dockercfg.json

notes.txt
devel-notes/

client/dist/
client/uploads/
client/import/

deploy/letsencrypt
deploy/fargate

native-app/node_modules
native-app/platforms
native-app/plugins
native-app/www/dist

.sass-cache/
