- var photoId = photo ? photo.uuid : ''

#scope-posting-form
	.clearfix
	form.scope-posting-form.form.form-validation(data-jsclass="postingFormController,formValidator" data-about= about data-endpoint= endpoint data-photo= photoId data-submitter='.post-submit-button' data-focus-target=".posting-body" data-single-upload= "1")
		.tabbed
			#form-tab
				.form-group.input-relative
					textarea.posting-body.form-control(type="text" name="body" placeholder="Reply to this post." data-validate="required")
					.input-ok-indicator.hide-until-subject-focus
						span.glyphicon.glyphicon-ok
					.validation-help.hide-until-subject-focus
			#preview-tab.markdown
		.hide-until-subject-focus
			.upload-zone
		.form-group.input-relative.hide-until-subject-focus.comment-button-zone
			button.post-submit-button.btn.btn-sm.btn-primary Post
			a#post-preview-button.btn.btn-sm.btn-default(href="#") Preview
			a#post-upload-button.btn.btn-sm.btn-default(href="#") <i class="glyphicon glyphicon-upload"></i>
			a#post-cancel-button.btn.btn-sm.btn-default.pull-right(href="#") Cancel
