
aside#login-form.mdc-dialog(role="alertdialog" aria-labelledby="login" aria-describedby="login form")
	.mdc-dialog__surface
		form.form.form-validation(data-jsclass="loginController,formValidator" data-submitter="#login-button")
			header.mdc-dialog__header
				h2.mdc-dialog__header__title.
					Login
			section.mdc-dialog__body
				.row
					.col-sm-6.form-group
						label Email Address
						.input-relative
							input.login-email-address.form-control(type="email" name="email" placeholder="Email address" data-validate="required,email" autocomplete="email")
							.input-ok-indicator
								span.fa.fa-check
							.validation-help
					.col-sm-6.form-group
						label Password
						.input-relative
							input.form-control(type="password" name="password" placeholder="Password" data-validate="required,password" autocomplete="current-password")
							.input-ok-indicator
								span.fa.fa-check
							.validation-help
			footer.mdc-dialog__footer
				a.toggle-modal.mdc-dialog__footer__button--cancel(href="#" data-target="#password-request-reset-form") Forgot Password
				if globalSettings.multiUser === 'open'
					a.toggle-modal(href="#" data-target="#register-form" data-dismiss="modal") Don't Have Account
				button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--cancel Cancel
				button#login-button.mdc-button.mdc-dialog__footer__button.mdc-button--raised(type="submit") Login


aside#password-request-reset-form.mdc-dialog(role="alertdialog" aria-labelledby="forgot password" aria-describedby="forget password")
	.mdc-dialog__surface
		form.form.form-validation(action="/api/MyUsers/reset" method="POST" data-jsclass="postEndpointController,formValidator" data-submitter="#reset-request-button" data-modal="#password-request-reset-form" data-success-prompt="Please check your email.")
			header.mdc-dialog__header
				h2.mdc-dialog__header__title.
					Recover Password
			section.mdc-dialog__body
				.row
					.col-sm-6.form-group
						label Email Address
						.input-relative
							input.login-email-address.form-control(type="email" name="email" placeholder="Email address" data-validate="required,email" autocomplete="email")
							.input-ok-indicator
								span.fa.fa-check
							.validation-help
			footer.mdc-dialog__footer
				a.toggle-modal.mdc-dialog__footer__button--cancel(href="#" data-target="#login-form") Login
				if globalSettings.multiUser === 'open'
					a.toggle-modal(href="#" data-toggle="modal" data-target="#register-form" data-dismiss="modal") Don't Have Account
				button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--cancel Cancel
				button#reset-request-button.mdc-button.mdc-dialog__footer__button.mdc-button--raised(type="submit") Password Reset

if globalSettings.multiUser === 'open' || inviteToken
	aside#register-form.mdc-dialog(role="alertdialog" aria-labelledby="login" aria-describedby="login form")
		.mdc-dialog__surface
			form.form.form-validation(action="/api/MyUsers/register" method="POST" data-jsclass="formValidator,postEndpointController" data-submitter="#register-button" data-modal="#register-form")
				header.mdc-dialog__header
					h2.mdc-dialog__header__title.
						Register
				section.mdc-dialog__body
					.form-group.input-relative
						input.form-control(type="email" name="email" placeholder="Email address" data-validate="required,email" data-unique-endpoint= "/api/MyUsers/isunique?field=email" autocomplete="email")
						.input-ok-indicator
							span.fa.fa-check
						.validation-help

					.form-group.input-relative
						input.form-control(type="email" name="confirm-email" placeholder="Email address" data-validate="required,email" data-match="input[name='email']" autocomplete="email")
						.input-ok-indicator
							span.fa.fa-check
						.validation-help

					.form-group.input-relative
						input.form-control(type="password" name="password" placeholder="Password" data-validate="required,password" autocomplete="new-password")
						.input-ok-indicator
							span.fa.fa-check
						.validation-help

					.form-group.input-relative
						input.form-control(type="password" name="confirm-password" placeholder="Confirm Password" data-validate="required,password" data-match="input[name='password']"  autocomplete="off")
						.input-ok-indicator
							span.fa.fa-check
						.validation-help

					.form-group.input-relative
						input.form-control(type="text" name="name" placeholder="Name" data-validate="required" autocomplete="name")
						.input-ok-indicator
							span.fa.fa-check
						.validation-help

				footer.mdc-dialog__footer
						a.toggle-modal.mdc-dialog__footer__button--cancel(href="#" data-target="#login-form") Already Have Account
					button#register-button..mdc-button.mdc-dialog__footer__button.mdc-button--raised Sign Up

aside#password-reset-form.mdc-dialog(role="alertdialog" aria-labelledby="login" aria-describedby="login form")
	.modal-	.mdc-dialog__surface
		form.form.form-validation(action="/reset-password" method="POST" data-jsclass="formValidator,postEndpointController" data-submitter="#reset-button" data-modal="#password-reset-form")
			input(type="hidden" name="access_token" value= passwordResetToken)
			header.mdc-dialog__header
				h2.mdc-dialog__header__title.
					Reset Password
			section.mdc-dialog__body
				.form-group.input-relative
					input.form-control(type="password" name="password" placeholder="Password" data-validate="required,password")
					.input-ok-indicator
						span.fa.fa-check
					.validation-help

				.form-group.input-relative
					input.form-control(type="password" name="confirm-password" placeholder="Confirm Password" data-validate="required,password" data-match="input[name='password']")
					.input-ok-indicator
						span.fa.fa-check
					.validation-help
			footer.mdc-dialog__footer
				a.toggle-modal.mdc-dialog__footer__button--cancel(href="#" data-target="#login-form") Login
				button#reset-button.mdc-button.mdc-dialog__footer__button.mdc-button--raised Reset Password

aside#request-invite-form.mdc-dialog(role="alertdialog" aria-labelledby="login" aria-describedby="login form")
	.mdc-dialog__surface
		form.form.form-validation(action="/api/Requests" method="POST" data-jsclass="postEndpointController,formValidator" data-submitter="#request-invite-button" data-modal="#request-invite-form" data-success-prompt="Request saved.")
			header.mdc-dialog__header
				h2.mdc-dialog__header__title.
					Request an Account on This Server
			section.mdc-dialog__body
				.row
					.col-sm-6.form-group
						label Your Email Address
						.input-relative
							input.login-email-address.form-control(type="email" name="email" placeholder="Email address" data-validate="required,email")
							.input-ok-indicator
								span.fa.fa-check
							.validation-help
				.row
					.col-sm-6.form-group
						.form-group
							.input-relative
								input.form-control(type="text" name="name" placeholder="Your Name" data-validate="required")
								.input-ok-indicator
									span.fa.fa-check
								.validation-help
			footer.mdc-dialog__footer
				button#request-invite-button.mdc-button.mdc-dialog__footer__button.mdc-button--raised(type="submit") Send Request

aside#edit-post-form.mdc-dialog(role="alertdialog" aria-labelledby="login" aria-describedby="login form")
	.mdc-dialog__surface
		header.mdc-dialog__header
			h2.mdc-dialog__header__title.
				Edit post
		section.mdc-dialog__body
			| edit form here

aside#edit-comment-form.mdc-dialog(role="alertdialog" aria-labelledby="login" aria-describedby="login form")
	.mdc-dialog__surface
		header.mdc-dialog__header
			h2.mdc-dialog__header__title.
				Edit comment
		section.mdc-dialog__body
			| edit form here

aside#post-form.mdc-dialog(role="alertdialog" aria-labelledby="login" aria-describedby="login form")
	.mdc-dialog__surface
		header.mdc-dialog__header
			h2.mdc-dialog__header__title.
				Share Post
		section.mdc-dialog__body
			include posting-form
