
#login-form.modal.fade(tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		form.form.form-validation(data-jsclass="loginController,formValidator" data-submitter="#login-button" data-modal="#login-form")
			.modal-content
				.modal-header
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Login</h4>
				.modal-body
					.row
						.col-sm-6.form-group
							label Email Address
							.input-relative
								input.login-email-address.form-control(type="email" name="email" placeholder="Email address" data-validate="required,email" autocomplete="email")
								.input-ok-indicator
									span.glyphicon.glyphicon-ok
								.validation-help
						.col-sm-6.form-group
							label Password
							.input-relative
								input.form-control(type="password" name="password" placeholder="Password" data-validate="required,password" autocomplete="current-password")
								.input-ok-indicator
									span.glyphicon.glyphicon-ok
								.validation-help
				.modal-footer
					.pull-left
						a(href="#" data-toggle="modal" data-target="#password-request-reset-form" data-dismiss="modal") Forgot Password
						if globalSettings.multiUser === 'open'
							| &nbsp;|&nbsp;
							a(href="#" data-toggle="modal" data-target="#register-form" data-dismiss="modal") Don't Have Account
					button#login-button.btn.btn-primary(type="submit") Login

#password-request-reset-form.modal.fade(tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		form.form.form-validation(action="/api/MyUsers/reset" method="POST" data-jsclass="postEndpointController,formValidator" data-submitter="#reset-request-button" data-modal="#password-request-reset-form" data-success-prompt="Please check your email.")
			.modal-content
				.modal-header
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Recover Password</h4>
				.modal-body
					.row
						.col-sm-6.form-group
							label Email Address
							.input-relative
								input.login-email-address.form-control(type="email" name="email" placeholder="Email address" data-validate="required,email" autocomplete="email")
								.input-ok-indicator
									span.glyphicon.glyphicon-ok
								.validation-help
				.modal-footer
					.pull-left
						a(href="#" data-toggle="modal" data-target="#login-form" data-dismiss="modal") Login
						if globalSettings.multiUser === 'open'
							a(href="#" data-toggle="modal" data-target="#register-form" data-dismiss="modal") Don't Have Account
					button#reset-request-button.btn.btn-primary(type="submit") Password Reset

if globalSettings.multiUser === 'open' || inviteToken
	#register-form.modal.fade(tabindex="-1" role="dialog")
		.modal-dialog(role="document")
			
			form.form.form-validation(action="/api/MyUsers/register" method="POST" data-jsclass="formValidator,postEndpointController" data-submitter="#register-button" data-modal="#register-form")
				.modal-content
					.modal-header
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Register</h4>
					.modal-body
						.form-group.input-relative
							input.form-control(type="email" name="email" placeholder="Email address" data-validate="required,email" data-unique-endpoint= "/api/MyUsers/isunique?field=email" autocomplete="email")
							.input-ok-indicator
								span.glyphicon.glyphicon-ok
							.validation-help
								
						.form-group.input-relative
							input.form-control(type="email" name="confirm-email" placeholder="Email address" data-validate="required,email" data-match="input[name='email']" autocomplete="email")
							.input-ok-indicator
								span.glyphicon.glyphicon-ok
							.validation-help

						.form-group.input-relative
							input.form-control(type="password" name="password" placeholder="Password" data-validate="required,password" autocomplete="new-password")
							.input-ok-indicator
								span.glyphicon.glyphicon-ok
							.validation-help
								
						.form-group.input-relative
							input.form-control(type="password" name="confirm-password" placeholder="Confirm Password" data-validate="required,password" data-match="input[name='password']"  autocomplete="off")
							.input-ok-indicator
								span.glyphicon.glyphicon-ok
							.validation-help
						
						.form-group.input-relative
							input.form-control(type="text" name="name" placeholder="Name" data-validate="required" autocomplete="name")
							.input-ok-indicator
								span.glyphicon.glyphicon-ok
							.validation-help
										
					.modal-footer
						.pull-left
							a(href="#" data-toggle="modal" data-target="#login-form" data-dismiss="modal") Already Have Account
						button#register-button.btn.btn-primary Sign Up
						
#password-reset-form.modal.fade(tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		form.form.form-validation(action="/reset-password" method="POST" data-jsclass="formValidator,postEndpointController" data-submitter="#reset-button" data-modal="#password-reset-form")
			input(type="hidden" name="access_token" value= passwordResetToken)
			.modal-content
				.modal-header
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Reset Password</h4>
				.modal-body
					.form-group.input-relative
						input.form-control(type="password" name="password" placeholder="Password" data-validate="required,password")
						.input-ok-indicator
							span.glyphicon.glyphicon-ok
						.validation-help
							
					.form-group.input-relative
						input.form-control(type="password" name="confirm-password" placeholder="Confirm Password" data-validate="required,password" data-match="input[name='password']")
						.input-ok-indicator
							span.glyphicon.glyphicon-ok
						.validation-help
				.modal-footer
					.pull-left
						a(href="#" data-toggle="modal" data-target="#login-form" data-dismiss="modal") Login

					button#reset-button.btn.btn-primary Reset Password

#request-invite-form.modal.fade(tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		form.form.form-validation(action="/api/Requests" method="POST" data-jsclass="postEndpointController,formValidator" data-submitter="#request-invite-button" data-modal="#request-invite-form" data-success-prompt="Request saved.")
			.modal-content
				.modal-header
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Request an Account on This Server</h4>
				.modal-body
					.row
						.col-sm-6.form-group
							label Your Email Address
							.input-relative
								input.login-email-address.form-control(type="email" name="email" placeholder="Email address" data-validate="required,email")
								.input-ok-indicator
									span.glyphicon.glyphicon-ok
								.validation-help
					.row
						.col-sm-6.form-group
							.form-group
								.input-relative
									input.form-control(type="text" name="name" placeholder="Your Name" data-validate="required")
									.input-ok-indicator
										span.glyphicon.glyphicon-ok
									.validation-help
					.row
						.col-sm-12
							p.
								This is a very, very early prototype. Once things are more stable we will add users who want to help us test the system.
				.modal-footer
					button#request-invite-button.btn.btn-primary(type="submit") Send Request

#edit-post-form.modal.fade(tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Edit post</h4>
			.modal-body
				| edit form here

#edit-comment-form.modal.fade(tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Edit comment</h4>
			.modal-body
				| edit form here

#post-form.modal.fade(tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Share Post</h4>
			.modal-body
				include posting-form
