nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
	.container-fluid
		a.navbar-brand.mr-auto(href="/")
			.header-logo
		
		button.ml-auto.navbar-toggler.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
			span.navbar-toggler-icon
		
		#navbar.collapse.navbar-collapse(data-jsclass="navController")
			ul.nav.navbar-nav.mr-auto
				if globalSettings.communityChannel
					li#nav-community.nav-item.hidden-logged-out
						a.nav-link(href="/community" data-toggle="tooltip" title="Community posts." data-placement="bottom")
							<i class="fa fa-bullhorn fa-fw"></i>
							span.hidden-not-digitopia-xsmall
								| Community Feed
				li#nav-feed.nav-item.hidden-logged-out
					a.nav-link(href="/feed" data-toggle="tooltip" title="Friend's posts." data-placement="bottom")
						<i class="fa fa-users fa-fw"></i>
						span.hidden-not-digitopia-xsmall
							|  Friends Feed
				li#nav-profile.nav-item.hidden-logged-out
					a.nav-link(href= user ? '/' + user.username : "/profile" data-toggle="tooltip" title="Your Posts." data-placement="bottom")
						<i class="fa fa-user fa-fw"></i>
						span.hidden-not-digitopia-xsmall
							|  Your Posts
				li#nav-friends.nav-item.hidden-logged-out
					a.nav-link(href="/friends" data-toggle="tooltip" title="Your friends." data-placement="bottom")
						<i class="fa fa-user-plus fa-fw"></i>
						span.hidden-not-digitopia-xsmall
							|  Friends
				li#nav-settings.nav-item.hidden-logged-out
					a.nav-link(href="/settings" data-toggle="tooltip" title="Your Settings." data-placement="bottom")
						<i class="fa fa-cog fa-fw"></i>
						span.hidden-not-digitopia-xsmall
							|  Settings
				li#nav-bugs.nav-item.hidden-logged-out
					a.nav-link.bug-report(href="#" data-toggle="tooltip" title="Bug Report." data-placement="bottom")
						<i class="fa fa-bug fa-fw"></i>
						span.hidden-not-digitopia-xsmall
							|  Bug Report
							
			ul.nav.navbar-nav.navbar-right
				if globalSettings.multiUser === 'invite' && !inviteToken
					li.nav-item.hidden-logged-in
						a.nav-link(href="#" data-toggle="modal" data-target="#request-invite-form") Request Account
				if globalSettings.multiUser === 'open' || inviteToken
					li.nav-item.hidden-logged-in
						a.nav-link(href="#" data-toggle="modal" data-target="#register-form") Create Account
				li.nav-item.hidden-logged-in
					a.nav-link(href="#" data-toggle="modal" data-target="#login-form") Login
				li.nav-item.hidden-logged-out
					a.nav-link(href="" data-jsclass="logoutController") Logout
				li.nav-item.menu-icon-placeholder.hidden-digitopia-xsmall
					#menu-icon(data-hijax="true")
						if user
							a(href=user ? '/' + user.username : "/profile")
								img.menubar-thumb(src= getUploadForProperty('photo', user.uploads(), 'thumb', headshotFPO).url)
