.news-feed-header
	.status.float-right
	.position-relative
		i.fa.fa-fw.fa-bell
.news-feed-items.constrained-height
	.news-feed-item
		- var thumb= getUploadForProperty('photo', user ? user.uploads() : {}, 'thumb', headshotFPO).url
		img(src=thumb)
		div
			| listening for events
.news-feed-footer
	a.moreActivityButton(href="/feed") More
