div
	aside#news-feed.mdc-typography.hidden-logged-out(data-jsclass="liveNewsFeedItemWebsocketController" data-endpoint = config.websockets)
		
				.news-feed-header
					.status.float-right
					.position-relative
						i.fa.fa-fw.fa-bell
				.news-feed-items
					.news-feed-item
						- var thumb= getUploadForProperty('photo', user ? user.uploads() : {}, 'thumb', headshotFPO).url
						img(src=thumb)
						div
							| listening for events
	.mdc-drawer-scrim
