#scope-post-list
	if posts && posts.length
		for post in posts
			- var postEndpoint = post.source + '/post/' + post.uuid;
			- var poster = post.resolvedProfiles[post.source].profile
			- var about = post.about ? post.resolvedProfiles[post.about].profile : {}
			- var isPublic = post.visibility.indexOf('public') !== -1
			
			.newsfeed-item
				if post.athoritativeEndpoint
					.post(data-jsclass="loadController" data-target=".post" data-endpoint= '/proxy-post?endpoint=' + encodeURIComponent(post.athoritativeEndpoint))
				else 
					.post.live-element(data-watch= post.source + '/post/' + post.uuid)
						.post-identity
							.post-avatar
								.media
									- var endpoint = poster.endpoint
									- var thumb = poster.photo ? poster.photo.url : ''
									- var name = poster.name
									- var posterUrl = '/proxy-profile?endpoint=' + encodeURIComponent(endpoint)
									if !user
										- posterUrl = endpoint

									.media-left
										a(href= posterUrl)
											img.media-object(src= thumb)
									.media-body
										h4.media-heading
											a(href= posterUrl)= name
											if post.about
												span.glyphicon.glyphicon-arrow-right.target-arrow
												a(href= '/proxy-profile?endpoint=' + encodeURIComponent(post.about))= about.name
										div.secondary
											.post-timestamp.timestamp(data-timestamp= moment(post.createdOn).toISOString())= moment(post.createdOn).calendar()
											.visibility
												if post.visibility.indexOf('public') !== -1
													i.glyphicon.glyphicon-globe
												else
													i.glyphicon.glyphicon-eye-open
												= ' ' + post.visibility.join(', ')
											if isPublic && !isPermalink
												.permalink
													a(href= postEndpoint)
														i.glyphicon.glyphicon-link
																
											
											if post.geoDescription
												.post-geo
													<i class="glyphicon glyphicon-map-marker"></i>
													= ' ' + post.geoDescription 
													

						- var body = post.body ? post.body : '';
						.post-body.markdown.want-constrained(data-max-height="1000")!= marked(body).replace(/\<table\>/g,'<table class="table table-condensed">')

						- var photos = post.sortedPhotos
						include rendered-post-photos
						
						include post-reactions-and-comments
