
if user
	.reactions-and-comments
		- var counts = post.counts
		- var reactions = post.resolvedReactions
		
		.ajax-load(id= 'reactions-' + post.uuid data-jsclass="ajaxLoadController" data-endpoint= '/proxy-post?endpoint=' + encodeURIComponent(postEndpoint))

			.post-reactions(data-jsclass="reactionController" data-user= user ? 'true' : '' data-is-me= isMe ? 'true' : '' data-post-author-name= poster.name data-endpoint= poster.endpoint + '/post/' + post.uuid)
				include reactions

		- var comments = post.resolvedComments
		- var commentSummary = post.commentSummary
		.post-comments
			include comments

		-var about= poster.endpoint + '/post/' + post.uuid
		-var endpoint= "/comment"
		
		include comment-form
		
