- var poster = post.resolvedProfiles[post.source].profile
- var about= poster.endpoint + '/post/' + post.uuid
- var counts = photo.counts
- var reactions = photo.resolvedReactions
- var comments = photo.resolvedComments

.reactions-and-comments
  include rendered-post-reactions

  if user || (comments && comments.length)
    .post-comments
      include rendered-post-comments

    if user
      -var endpoint= "/comment"
      include comment-form
