#scope-posting-form
	- var placeholder = wall ? 'Post something on ' + profile.name + "'s wall." : "What's on your mind?"
	- var fb,tw
	if user && user.identities()
		for identity in user.identities()
			if identity.provider === 'facebook'
				- fb= identity
			if identity.provider === 'twitter'
				- tw= identity
	
	form.scope-posting-form.form.form-validation(data-jsclass="postingFormController,formValidator" data-about= wall ? profile.endpoint : '' data-submitter='.post-submit-button' data-focus-target=".posting-body" data-endpoint= editing ? "/post/" + post.uuid : "/post" data-modal="#edit-post-form")
		.tabbed
			#form-tab
				.form-group.input-relative
					.posting-body.form-control.editable.markdown(data-jsclass="markdownEditorController" data-target=".posting-markdown" data-in-modal= editing ? 'true' : '' data-placeholder= placeholder)
						if editing
							!= marked(post.body,true)
					textarea.form-control.posting-markdown(type="hidden" name="body" data-validate="required" style="display:none;")
						
					.input-ok-indicator
						span.glyphicon.glyphicon-ok
					.validation-help

		.hide-until-subject-focus
			.upload-zone
					
		.post-tools.hide-until-subject-focus
			.form-group.input-relative.button-zone
				button.post-submit-button.btn.btn-sm.btn-primary Post
				if !editing
					a#post-upload-button.btn.btn-sm.btn-default(href="#" data-toggle="tooltip" title="Attach Images." data-placement="bottom") <i class="glyphicon glyphicon-upload"></i>
				if environment.GOOGLE_MAPS_API_KEY
					a#post-geo-button.btn.btn-sm.btn-default(href="#" data-toggle="tooltip" title="Checkin" data-placement="bottom") <i class="glyphicon glyphicon-map-marker"></i>
				a#post-cancel-button.btn.btn-sm.btn-default.pull-right(href="#") Cancel

			.geo-zone
				.form-group.input-relative
					- var loc
					if editing && post.geoDescription
						- loc = JSON.stringify({ "description": post.geoDescription , "loc": post.geoLocation})
						
					input#geo-name.form-control.lazy-instantiate(data-lazy-jsclass="geoController" placeholder="Enter Place Name or Address" data-target="#geo-location" data-pulldown="#geo-pulldown" data-api-key= environment.GOOGLE_MAPS_API_KEY value= editing ? post.geoDescription : '')
					input#geo-location(type="hidden" value= editing ? loc : '')
				.dropdown
					ul#geo-pulldown.dropdown-menu
					#geo-attributions

			.form-group.input-relative.text-center.audience-select
				.checkbox-group(data-jsclass="checkboxGroupController" data-target=".posting-visibility")
					input.posting-visibility.form-control(type="hidden" name="visibility" data-validate="required" value= editing ?  JSON.stringify(post.visibility)  : '["friends"]')

					label.checkbox-inline Audience:
					label.checkbox-inline
						input(type="checkbox" data-value="public")
						| public
					label.checkbox-inline
						input(type="checkbox" data-value="community")
						| community
					if fb
						label.checkbox-inline
							input(type="checkbox" data-value="facebook")
							| facebook
					label.checkbox-inline
						input(type="checkbox" data-value="friends")
						| friends
					if user && user.audiences
						for audience in user.audiences
							label.checkbox-inline
								input(type="checkbox" data-value= audience)
								= audience
