#scope-posting-form
	form.scope-posting-form.form.form-validation(action= "/post/" + post.uuid data-jsclass="postEndpointController,formValidator" data-submitter='#post-edit-save-button' data-focus-target=".posting-body" data-modal="#edit-post-form")
		.tabbed
			#form-tab
				.form-group.input-relative
					textarea.posting-body.form-control(type="text" name="body" data-validate="required")
						= post.body
					.input-ok-indicator
						span.glyphicon.glyphicon-ok
					.validation-help
			#preview-tab.markdown

		//
			
				.upload-zone
					
		.post-tools
			.form-group.input-relative.button-zone
				// a#post-upload-button.btn.btn-sm.btn-default(href="#") <i class="glyphicon glyphicon-upload"></i>
				if 0 && environment.GOOGLE_MAPS_API_KEY
					a#post-geo-button.btn.btn-sm.btn-default(href="#") <i class="glyphicon glyphicon-map-marker"></i>
				a#post-preview-button.btn.btn-sm.btn-default(href="#") Preview
//
			.geo-zone
				.form-group.input-relative
					input#geo-name.form-control.lazy-instantiate(data-lazy-jsclass="geoController" placeholder="Enter Place Name or Address" data-target="#geo-location" data-pulldown="#geo-pulldown" data-api-key= environment.GOOGLE_MAPS_API_KEY)
					input#geo-location(type="hidden")
				.dropdown
					ul#geo-pulldown.dropdown-menu
					#geo-attributions

			.form-group.input-relative.text-center.audience-select
				input#posting-visibility.form-control(type="hidden" name="visibility" data-validate="required" value= '["friends"]')
				.checkbox-group.lazy-instantiate(data-lazy-jsclass="checkboxGroupController" data-target="#posting-visibility")
					label.checkbox-inline Audience:
					label.checkbox-inline
						input(type="checkbox" data-value="public")
						| public
					label.checkbox-inline
						input(type="checkbox" data-value="community")
						| community
					label.checkbox-inline
						input(type="checkbox" data-value="friends")
						| friends
					if user && user.audiences
						for audience in user.audiences
							label.checkbox-inline
								input(type="checkbox" data-value= audience)
								= audience
