if user
	.reactions-and-comments
		- var counts = post.counts
		- var reactions = post.resolvedReactions
		- var reactionSummary = post.reactionSummary
		- var poster = post.resolvedProfiles[post.source].profile
		include rendered-post-reactions

		- var comments = post.resolvedComments
		- var commentSummary = post.commentSummary
		include rendered-post-comments

		-var about= poster.endpoint + '/post/' + post.uuid
		-var endpoint= "/comment"
		include comment-form
		
