#scope-posting-form
	- var placeholder = wall ? 'Post something on ' + profile.name + "'s wall." : "What's on your mind?"
	- var fb,tw
	if user && user.identities()
		for identity in user.identities()
			if identity.provider === 'facebook'
				- fb= identity
			if identity.provider === 'twitter'
				- tw= identity
	
	form.scope-posting-form.form.form-validation(data-jsclass="postingFormController,formValidator" data-about= wall ? profile.endpoint : '' data-submitter='.post-submit-button' data-focus-target=".posting-body" data-endpoint= editing ? "/post/" + post.uuid : "/post" data-modal= editing ? "#edit-post-form" : '')
		.tabbed
			#form-tab
				.form-group.input-relative
					.posting-body.editable.markdown(data-jsclass="markdownEditorController" data-target=".posting-markdown" data-in-modal= editing ? 'true' : '' data-placeholder= placeholder style="font-family:Helvetica,Arial,sans-serif;")
						if editing
							p
								br
							!= marked(post.body,true)
							p
								br
					textarea.posting-markdown(type="hidden" name="body" data-validate="required,noEscapedAngle" style="display:none;")
						
			
		.hide-until-subject-focus
			
			.shared-post

			.upload-zone
					
		.post-tools.hide-until-subject-focus
			.form-group.input-relative.button-zone
				a#post-cancel-button.btn.btn-sm.btn-default(href="#") Cancel
				if !editing
					a#post-upload-button.btn.btn-sm.btn-default(href="#" data-toggle="tooltip" title="Attach Images." data-placement="bottom")
						i.fa.fa-images
				if environment.GOOGLE_MAPS_API_KEY
					a#post-geo-button.btn.btn-sm.btn-default(href="#" data-toggle="tooltip" title="Checkin" data-placement="bottom")
						i.fa.fa-map-marker
							
				-var canEditAutopost = true
				if editing && post.posted
					- canEditAutopost = false
					
				if canEditAutopost
					a#post-autopost-button.btn.btn-sm.btn-default(href="#" data-toggle="tooltip" title="Autopost" data-placement="bottom")
						i.fa.fa-calendar
				.float-right
					button.post-submit-button.btn.btn-sm.btn-primary Post

			.geo-zone
				.form-group.input-relative
					- var loc
					if editing && post.geoDescription
						- loc = JSON.stringify({ "description": post.geoDescription , "loc": post.geoLocation})
						
					input#geo-name.form-control.lazy-instantiate(data-lazy-jsclass="geoController" placeholder="Enter Place Name or Address" data-target="#geo-location" data-pulldown="#geo-pulldown" data-api-key= environment.GOOGLE_MAPS_API_KEY value= editing ? post.geoDescription : '')
					input#geo-location(type="hidden" value= editing ? loc : '')
				
				#geo-pulldown.dropdown-menu.dropdown
				#geo-attributions

			.form-group.input-relative.text-center.audience-select
				.checkbox-group(data-jsclass="checkboxGroupController" data-target=".posting-visibility")
					input.posting-visibility.form-control(type="hidden" name="visibility" data-validate="required" value= editing ?  JSON.stringify(post.visibility)  : '["friends"]')

					.form-check.form-check-inline
						label.form-check-label Audience:
						
					.form-check.form-check-inline
						input.form-check-input(type="checkbox" data-value="public")
						label.form-check-label public
						
					.form-check.form-check-inline
						input.form-check-input(type="checkbox" data-value="community")
						label.form-check-label community
						
					if 0 && fb
						.form-check.form-check-inline
							input.form-check-input(type="checkbox" data-value="facebook")
							label.form-check-label facebook
							
					.form-check.form-check-inline
						input.form-check-input(type="checkbox" data-value="friends")
						label.form-check-label friends
						
					if user && user.audiences
						for audience in user.audiences
							.form-check.form-check-inline
								input.form-check-input(type="checkbox" data-value= audience)
								label.form-check-label= audience
			
			.autopost-zone
				.form-group.input-relative
					.input-group.date
						input.form-control(type='datetime-local' name="autopost" data-val-gmt= editing && post.autopost ? post.autopost.toISOString() : '' placeholder="Autopost time")
						.input-group-append
							span.input-group-text
								span.fa.fa-calendar
