.container-fluid
	ul.nav.nav-tabs.subnav-tabs(data-jsclass="subnavController")
		li#subnav-posts
			a(href= proxyEndPoint(data.profile.endpoint,user)) Posts
		li#subnav-photos
			a(href= proxyEndPoint(data.profile.endpoint + '/photos',user)) Photos
		if user && friend && !isMe
			li#subnav-friends
				a(href= proxyEndPoint(data.profile.endpoint + '/friends',user)) Friends
