.reaction-summary
	table
		tr
			if !reactionSummary
				td.reaction-summary-icons
					.reaction-button-container.reaction-button.greyscale(data-value="thumbs-up")
						.em.em-thumbs-up
			if reactionSummary
				td.reaction-summary-icons
					!= reactionSummary.icons
				td.reaction-summary-heading.secondary
					!= reactionSummary.summary
			if timestamp
				td.reaction-summary-heading
					!= ' - ' + timestamp
				
.more-reactions
	if reactions
		for reaction in reactions
			if reaction.source === myEndpoint && reaction.details.reaction
				.reaction-button-container.reaction-button.reaction-summary-me(data-value="")
					.em.em-x

	.reaction-button-container.reaction-button(data-value="thumbs-up")
		.em.em-thumbs-up
	.reaction-button-container.reaction-button(data-value="love")
		.em.em-love
	.reaction-button-container.reaction-button(data-value="laugh")
		.em.em-laugh
	.reaction-button-container.reaction-button(data-value="smirk")
		.em.em-smirk
	.reaction-button-container.reaction-button(data-value="wow")
		.em.em-wow
	.reaction-button-container.reaction-button(data-value="cry")
		.em.em-cry
	.reaction-button-container.reaction-button(data-value="mad")
		.em.em-mad
	.reaction-button-container.reaction-button(data-value="thumbs-down")
		.em.em-thumbs-down
	.reaction-button-container.reaction-button(data-value="vomit")
		.em.em-vomit
.reaction-details
	if reactions
		table
			for reaction in reactions
				tr
					td(style="width:30px;")
						img(src= reaction.resolvedProfiles[reaction.source].profile.photo.url)
					td(style="width:30px;")
						.em(class='em-' + reaction.details.reaction)
					td
						= reaction.resolvedProfiles[reaction.source].profile.name
