extends ../wrapper


block seo
	-var profile = data.profile

	-var title = user.name + ' photos'
	-var image = profile.background.url
	-var summary = '';
	
	title= title
	meta(property="og:type" content="article")
	meta(property="og:image" content= image)
	meta(property="og:title" content= title)
	meta(property="og:description" content= summary)

block content
	include profile-hero
	
	.profile-parallax(data-jsclass="vibrantController" data-image= profile.backgroundSmall.url)
		include profile-tabs
					
		.mdc-layout-grid
			.mdc-layout-grid__inner
				.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8.content-padding-top.content
					if !friends 
						- friends = data.friends
					.page-heading
						h3 Mutual
					- var count =0
					each friend in friends.nodes
						if friendMap[friend.v] && friend.v !== myEndpoint
							- count++
							.media.friend-card
								if profileMap[friend.v]
									img(src = profileMap[friend.v].profile.photo.url)
								.media-body
									a(href="/proxy-profile?endpoint=" + encodeURIComponent(friend.v))= friend.value.name
					if !count
						| none
							
					.page-heading
						h3 Other Friends
					- var count =0
					each friend in friends.nodes
						if !friendMap[friend.v] && friend.v !== myEndpoint
							- count++
							.media.friend-card
								if profileMap[friend.v]
									img(src = profileMap[friend.v].profile.photo.url)
								.media-body
									a(href="/proxy-profile?endpoint=" + encodeURIComponent(friend.v))= friend.value.name
					if !count
						| none
				.mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
					if !user
						include ../components/server-sidebar
