if !post
	- post = data.post
if !photo
	- photo = data.photo
if !comments
	- comments = data.comments
.reactions-and-comments
	.post-comments
		if comments
			for comment,index in comments
				include rendered-post-comment
		
		-var about= post.source + '/post/' + post.uuid + '/photo/' + photo.uuid
		-var endpoint= "/comment"
		include comment-form
