extends ../wrapper

block seo
	- var posts = data.posts
	- var profile = data.profile
	
	title
		= profile.name + ' posts'
	meta(property="og:type" content="article")
	meta(property="og:image" content= profile.background.url)

block content
	include profile-hero

	.profile-parallax(data-jsclass="vibrantController" data-image= profile.backgroundSmall.url)
		if user && friend
			.container-fluid
				ul.nav.nav-tabs.subnav-tabs
					li.active
						a(href= proxyEndPoint(data.profile.endpoint,user)) Posts
					li
						a(href= proxyEndPoint(data.profile.endpoint + '/photos',user)) Photos
					if !isMe
						li
							a(href= proxyEndPoint(data.profile.endpoint + '/friends',user)) Friends
		
		.container-fluid.content-padding-top.content.no-gutters
			.row
				.col-sm-8.left-column
					if user
						include ../components/posting-form
					include ../components/post-list
					.text-center
						.loader(data-jsclass="loadMoreController" data-highwater= data.highwater)
				.col-sm-4
					if user
						#newsfeed-here
					else
						include ../components/server-sidebar
