if !comments
	- comments = data.comments
if !commentSummary
	- commentSummary = data.commentSummary
if !post
	- post = data.post

.post-comments.live-element(data-watch= about data-watch-type="comment")
	include rendered-comment-summary
	.comments-list(class= commentCount ? 'collapse' : '' id= 'comments-' + post.uuid)
		.comments
			if comments
				for comment,index in comments
					- about = comment.about + '/comment/' + comment.uuid
					include rendered-comment
		
