extends ../wrapper

block seo
	-var profile = data.profile

	-var title = user.name + ' photos'
	-var image = profile.background.url
	-var summary = '';
	
	title= title
	meta(property="og:type" content="article")
	meta(property="og:image" content= image)
	meta(property="og:title" content= title)
	meta(property="og:description" content= summary)

block content
	include profile-hero
	.profile-parallax(data-jsclass="vibrantController" data-image= profile.backgroundSmall.url)
		if user
			.container-fluid
				ul.nav.nav-tabs.subnav-tabs
					li
						a(href= proxyEndPoint(data.profile.endpoint,user)) Posts
					li.active
						a(href= proxyEndPoint(data.profile.endpoint + '/photos',user)) Photos
					if !isMe
						li
							a(href= proxyEndPoint(data.profile.endpoint + '/friends',user)) Friends
					
						
		.container-fluid.content-padding-top.content.no-gutters
			.row
				.col-sm-8.left-column
					p TODO photo organizer - create and edit albums
					- var itemsPerColumn = math.ceil(data.photos.length / 4)
					.thumb-grid
						.grid-row
							-var count = 0;
							each photo in data.photos
								-var uploads = photo.uploads
								if typeof uploads === 'function'
									- uploads = uploads()
								- var url
								if uploads[0].imageSet.thumb
									-url = uploads[0].imageSet.thumb.url
								else
									-url = uploads[0].imageSet.original.url

								if count === 0
									<div class="grid-column">
								if count++ === itemsPerColumn
									- count = 1;
									</div><div class="grid-column">
								img.img-responsive(src = url)
							</div>
				.col-sm-4
					if user
						#newsfeed-here
					else
						include ../components/server-sidebar
