extends ../wrapper

block seo
	- var posts = data.posts
	- var profile = data.profile
	
	title
		= profile.name + ' posts'
	meta(property="og:type" content="article")
	meta(property="og:image" content= profile.background.url)

block content
	include profile-hero

	.profile-parallax(data-jsclass="vibrantController" data-image= profile.backgroundSmall.url)
		include profile-tabs
		
		.mdc-layout-grid
			.mdc-layout-grid__inner
				.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8.content-padding-top.content
					if user
						#the-posting-form
							include ../components/posting-form
					#is-profile(data-me= profile.endpoint)
						include ../components/post-list
					.text-center
						.loader(data-jsclass="loadMoreController" data-highwater= data.highwater)
				.mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
					if !user
						include ../components/server-sidebar
