if !post
	- post= data.post
if !photos
	if data && data.photos
		- photos= data.photos
	else 
		- photos = post.sortedPhotos
	
if photos && photos.length
	
	script#slideshow(data-uuid= post.uuid type="text/x-json")
		!= JSON.stringify(photos)
	.carousel-container(id= post.uuid)
		div.carousel.slide.lazy-instantiate(id='slideshow-' + post.uuid data-endpoint= postEndpoint data-lazy-jsclass="responsiveCarousel" data-data= "#slideshow[data-uuid='"+post.uuid+"']" data-type="json" data-want-reactions= user ? "true" : "false")
			ol.carousel-indicators
			div.inner.carousel-inner
			a.full-screen(href="#" data-no-hijax="true")
				<span class="glyphicon glyphicon-resize-full"></span>
			if photos.length > 1
				a.left.carousel-control(href= "#" + post.uuid data-no-hijax="true" data-slide="prev")
					<span class="glyphicon glyphicon-chevron-left"></span>
				a.right.carousel-control(href= "#" + post.uuid data-no-hijax="true" data-slide="next")
					<span class="glyphicon glyphicon-chevron-right"></span>
	.post-photos
		.row
			- var limit = photos.length
			- var cols = 3
			if photos.length > 8
				- limit = 8 
			else if photos.length > 4
				- limit = 4
			else
				- cols = Math.ceil(12 / photos.length)
			
			for photo,index in photos
				if photo
					if index < limit
						- var uploads = typeof photo.uploads === 'function' ? photo.uploads() : photo.uploads
						- var upload = getUploadForProperty('optimized',uploads,'thumb')
						- var cssClass = 'col-xs-6 col-sm-'+cols+' maintain-aspect-ratio'
						
						if photos.length === 1
							- cssClass = 'col-xs-12 full-width'
							- upload = getUploadForProperty('optimized',uploads,'large')
							if !upload
								- upload = getUploadForProperty('optimized',uploads,'original')

						if !upload
							p= JSON.stringify(photos)
						else
							.img-thumb(class= cssClass data-jsclass="digitopiaViewport" data-crop= photos.length === 1 ? "" : "true"  data-align="center" data-width-percent="1")
								img(data-jsclass="digitopiaLazyImg,launchSlideshowController" data-lazy-src= upload.url data-uuid= post.uuid data-index= index)
								if index + 1 === limit && photos.length > limit
									.more-photos
										p
											| + 
											= photos.length - limit
											|  more
								.caption(data-jsclass="launchSlideshowController" data-uuid= post.uuid data-index= index)
									
									i.enlarge.glyphicon.glyphicon-zoom-in.pull-right
									if user
										i.comments.glyphicon.glyphicon-comment
									.caption-text.hidden-digitopia-xsmall
										h3= photo.title
										p= photo.description
		
