extends ../wrapper


block seo
	-var profile = data.profile

	-var title = user.name + ' photos'
	-var image = profile.background.url
	-var summary = '';
	
	title= title
	meta(property="og:type" content="article")
	meta(property="og:image" content= image)
	meta(property="og:title" content= title)
	meta(property="og:description" content= summary)

block content
	include profile-hero
	
	.profile-parallax(data-jsclass="vibrantController" data-image= profile.backgroundSmall.url)
		if user
			.container-fluid
				ul.nav.nav-tabs.subnav-tabs
					li
						a(href= proxyEndPoint(data.profile.endpoint,user)) Posts
					li
						a(href= proxyEndPoint(data.profile.endpoint + '/photos',user)) Photos
					if !isMe
						li.active
							a(href= proxyEndPoint(data.profile.endpoint + '/friends',user)) Friends
					
		.container-fluid.content-padding-top.content.no-gutters
			.row
				.col-sm-8.left-column(style="background-color:white;padding:15px")
					p Very Rudimentary TODO: depending on settings list friends, or just mutual friends or no friends. Show faces.
					if !friends 
						- friends = data.friends
					.page-heading
						h2 Mutual Friends
					ul
						- var count =0
						each friend in friends.nodes
							if friendMap[friend.v] && friend.v !== data.profile.endpoint
								- count++
								li
									a(href="/proxy-profile?endpoint=" + encodeURIComponent(friend.v))= friend.value.name
						if !count
							| none
							
					.page-heading
						h2 More Friends
					ul
						- var count =0
						each friend in friends.nodes
							if !friendMap[friend.v] && friend.v !== data.profile.endpoint
								- count++
								li
									a(href="/proxy-profile?endpoint=" + encodeURIComponent(friend.v))= friend.value.name
						if !count
							| none
				.col-sm-4
					if user
						#newsfeed-here
					else
						include ../components/server-sidebar
