extends ../wrapper

block seo
	- var posts = [data.post]
	- var og = data.ogMap ? data.ogMap[Object.keys(data.ogMap)[0]] : null
	- var profile = data.profile
	
	- var body = posts[0].body ? marked(posts[0].body) : ''
	- var title
	
	if body.match(/^\<h\d[^\>]*\>([^\<]*)/)
		- title= body.match(/^\<h\d[^\>]*\>([^\<]*)/)[0]
		- body= body.replace(/^\<h\d[^\>]*\>([^\<]*)/,'')
		- title= title.replace(/<.*?>/g,"")
		
	- summary = body.replace(/<.*?>/g,"")
	- summary = summary.replace(/[\n]/g,"")

	if summary.length > 200
		- summary= summary.substring(0,200)
		- summary= summary.replace(/[^ ]+$/,'')  + '...'
	
	- var image = profile.background.url;
	
	if _.has(posts[0],'sortedPhotos[0]')
		if posts[0].sortedPhotos.length > 1
			- summary += ' (' + posts[0].sortedPhotos.length + ' photos)'

		- var imageSet
		if typeof posts[0].sortedPhotos[0].uploads === 'function'
			- imageSet= posts[0].sortedPhotos[0].uploads()[0].imageSet
		else
			- imageSet= posts[0].sortedPhotos[0].uploads[0].imageSet
			
		if imageSet.large 
			- image = imageSet.large.url
		else
			- image = imageSet.original.url
	
	if og
		// try from link OG, from OG uploads (screenshot), profile
		- var ogimage = _.get(og,'ogData.data.ogImage.url')
		if !ogimage && og.uploads
			if typeof og.uploads === 'function'
				- ogimage = _.get(og.uploads()[0],'imageSet.large.url')
			else
				- ogimage = _.get(og.uploads[0],'imageSet.large.url')

		if ogimage
			- image = ogimage
			
		if source === 'facebook'
			- title = _.get(og,'ogData.data.ogTitle') || title
			- summary = _.get(og,'ogData.data.ogDescription') || summary

	if !title
		- title = 'Story by ' + posts[0].resolvedProfiles[posts[0].source].profile.name
			
	title= title
	meta(property="og:type" content="article")
	meta(property="og:image" content= image)
	meta(property="og:title" content= title)
	meta(property="og:description" content= summary)

block content
	include profile-hero
	
	.profile-parallax(data-jsclass="vibrantController" data-image= profile.backgroundSmall.url)
		include profile-tabs

		.container-fluid.content-padding-top.content
			.row
				.col-sm-8.left-column
					include ../components/post-list
				.col-sm-4
					if user
						#newsfeed-here
					else
						include ../components/server-sidebar
