if !comments
	- comments = data.comments
if !commentSummary
	- commentSummary = data.commentSummary
if !post
	- post = data.post

.post-comments.live-element(data-watch= post.source + '/post/' + post.uuid data-watch-type="comment")
	.comments-label.secondary(class= comments.length ? 'collapsed' : '' data-toggle="collapse" href= '#comments-' + post.uuid)
		table
			tr
				if comments && comments.length
					td
						.badge= comments.length
				td.comments-label-text
					i.glyphicon.glyphicon-comment
				td.comment-summary
					if commentSummary
						!= commentSummary
				td.indicator
						
	.comments-list(class= comments.length ? 'collapse' : '' id= 'comments-' + post.uuid)
		.comments
			if comments
				for comment,index in comments
					include rendered-post-comment
		
