if !post
	- post = data.post
if !comment
	- comment = data.comment

if wantSummary
	include rendered-comment-summary
	
.a-comment(id= 'comment-' + comment.uuid)
	.comment(class= (comment.deleted ? 'deleted ': '') + (comment.details.replyTo ? 'reply' : ''))
		- var thumb = comment.resolvedProfiles[comment.source].profile.photo.url
		- var name = comment.resolvedProfiles[comment.source].profile.name
		.thumb-container
			a(href= proxyEndPoint(comment.source,user))
				img.profile-thumb(src= thumb)
		.comment-container
			.post-actions.float-right
				- var isMine = (comment.source === config.publicHost + '/' + user.username) ? 'true' : ''
				- var postIsMine = (comment.about.replace(/\/post.*/,'') === config.publicHost + '/' + user.username) ? 'true' : ''
				.dropdown(data-jsclass="commentActionsController" data-comment-id= comment.uuid data-is-mine= (isMine || postIsMine))
					button.btn-xs(data-toggle="dropdown")
						i.fa.fa-ellipsis-h
					.dropdown-menu
						if isMine
							a.dropdown-item.edit-comment(href="#") Edit Comment
							a.dropdown-item.delete-comment(href="#") Delete Comment
						else if postIsMine
							a.dropdown-item.delete-comment(href="#") Remove Comment
						else
							a.dropdown-item.hide-comment(href="#") Hide Comment
			
			strong.float-left
				a(href= proxyEndPoint(comment.source,user))
					span.profile-link
						= name

			.markdown!= marked(comment.details.body)
			
			if comment.details.photo
				.comment-photo.loading(data-jsclass="loadController" data-target=".comment-photo" data-endpoint= proxyEndPoint(comment.details.photo,user))
			
			if ! comment.details.replyTo
				.float-right.secondary
					a.reply-to-button(href="" data-about=saveAbout data-reply-to=about) reply
					
			span.timestamp.secondary(data-timestamp= moment(comment.createdOn).toISOString())
				!= ' - ' + moment(comment.createdOn).calendar()

			if comment.versions && comment.versions.length
				span.secondary  (edited)

			- var reactions = comment.resolvedReactions
			- var reactionSummary = comment.reactionSummary
			- var about = comment.about + '/comment/' + comment.uuid
			include rendered-reactions

	.clearfix
		
	// look ahead at next comment to see if it is also a reply, if not then mark end of thread
	if !comments 
		if !comment.details.replyTo
			.comment-separator
	else
		if index === comments.length -1 || !comments[index+1].details.replyTo
			.end-of-thread
			.comment-separator
