if !comments
	- comments = data.comments
if !commentSummary
	- commentSummary = data.commentSummary
if !post
	- post = data.post

.post-comments.live-element(data-watch= post.source + '/post/' + post.uuid data-watch-type="comment")
	.comments-label
		table
			tr
				if comments && comments.length
					td
						.badge= comments.length
				td.comments-label-text
					| Comments
				td.comment-summary
					if commentSummary
						!= commentSummary
						
	.comments-list
		.comments
			if comments
				for comment,index in comments
					include rendered-post-comment
		
