if !post
	- post = data.post
if !reactions
	- reactions = data.reactions
if !reactionSummary
	- reactionSummary = data.reactionSummary
if !about
	- about = data.about
	
.ajax-load.live-element(data-watch= about data-watch-type="react")
	.post-reactions(data-jsclass="reactionController" data-endpoint= about)
		include reactions
