if !post
	- post = data.post
if !comment
	- comment = data.comment
if !reactions
	- reactions = data.reactions
if !reactionSummary
	- reactionSummary = data.reactionSummary

.ajax-load.live-element(id= 'reactions-comment-' + comment.uuid data-watch= comment.about + '/comment/' + comment.uuid data-watch-type="react")
	.post-reactions(data-jsclass="reactionController" data-endpoint= comment.about + '/comment/' + comment.uuid)
		include reactions
