if user
	.reactions-and-comments
		- var about= poster.endpoint + '/post/' + post.uuid

		- var counts = post.counts
		- var reactions = post.resolvedReactions
		- var reactionSummary = post.reactionSummary
		include rendered-reactions

		- var comments = post.resolvedComments
		- var commentSummary = post.commentSummary
		- var commentCount = post.commentCount
		include rendered-comments
