@import 'nib'

.post-callout-scope
	.post-callout
		font-size:.75em
		border:thin solid black
		border-radius:4px
		margin-top:25px
		padding-left:10px
		padding-right:10px
		padding-bottom:10px
		max-width:250px
		background-color:white
		.source
			.poster-avatar
				img
					margin-top:-25px
					border:thick solid #5a8f00
					border-radius: 50%
					width:50px
			.name
				float:right
				font-weight: bold

		.body
			margin-top:10px
			margin-bottom:10px
		.photo

		.link
			border:thin solid black
			.title
				padding:10px
				font-weight:bold

	.comment-callout
		position:absolute
		top: 75px
		left: 213px
		.vert-position
			padding-top:50px
		.commenter-avatar
			img
				border:thick solid #5a8f00
				border-radius: 50%
				width:50px
				float:left
