@import 'nib'

.post-callout
	font-size:.75em

	border:thin solid black
	border-radius: 8px
	margin-top:25px
	padding-left:10px
	padding-right:10px
	padding-bottom:10px
	max-width:250px
	.source
		.poster-avatar
			img
				margin-top:-25px
				border:thick solid white
				border-radius: 50%
				width:50px
		.name
			float:right
			font-weight: bold

	.body
		margin-top:10px
		margin-bottom:10px
	.photo

	.link
		border:thin solid black
		.title
			padding:10px
			font-weight:bold

.comment-callout
	max-width:250px
	margin-top:-10px
