@import 'nib'

.post-callout-scope
	text-align:center
	padding-top:50px

	.post-callout-wrapper
		position:relative
		margin:25px auto
		max-width:400px

	.img-responsive
		display:block
		max-width:100%
		height:auto

	.post-callout
		text-align:left
		font-size:.75em
		border:thin solid black
		border-radius:4px
		padding-left:10px
		padding-right:10px
		padding-bottom:10px
		max-width:250px
		background-color:white
		.source
			.poster-avatar
				img
					margin-top:-25px
					border:thick solid #5a8f00
					border-radius: 50%
					width:50px
			.name
				float:right
				font-weight: bold

		.body
			margin-top:10px
			margin-bottom:10px

		.link
			border:thin solid black

			.title
				padding:10px
				font-weight:bold

	.reaction-callout
		text-align:left
		position:absolute
		top: 75%
		left: 100px

		.triangle-border
			min-height: 90px
			min-width:300px

		.commenter-avatar
			img
				border:thick solid #5a8f00
				border-radius: 50%
				width:50px
				float:left
				margin-right:10px
		.comment-source
			font-weight: bold
