.em
	font-size: 1.3em
	width: 30px
	height: 30px
	text-align:center

	&.em-x
		&:before
			content: "\274C"
	&.em-thumbs-up
		&:before
			content: "\1F44D"
	&.em-thumbs-down
		&:before
			content: "\1F44E"
	&.em-love
		&:before
			content: "\2764"
	&.em-laugh
		&:before
			content: "\1F600"
	&.em-smirk
		&:before
			content: "\1F60F"
	&.em-wow
		&:before
			content: "\1F62E"
	&.em-cry
		&:before
			content: "\1F622"
	&.em-mad
		&:before
			content: "\1F621"
	&.em-vomit
		&:before
			content: "\1F92E"
