@import 'nib'

$borderColor = #eee

quick()
	transition-property: all
	transition-duration: .25s
	transition-timing-function: ease

*, *::before, *::after
	box-sizing: border-box

body
	margin:0
	padding:0
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

body.cordova
	height: 100vh
	width: 100vw

.gradient-bg
	background: linear-gradient(to right bottom, rgba(0,0,0,.1), rgba(0,0,0,.2))

.cordova
	.scroll-viewport
		-webkit-overflow-scrolling: touch
		height: 100vh
		width: 100vw
		position: absolute
		overflow: scroll
		overflow-x: hidden
		overflow-y: scroll

a
	&:focus
		outline:none
		text-decoration:none

button:focus
	outline: none !important
	box-shadow: none !important

.btn:focus
	outline: none !important
	box-shadow: none !important

.header-logo
	height:40px
	width:40px
	margin-left:20px
	margin-right:20px
	background-image:url(/images/logo.svg)
	background-size: cover
	background-repeat:no-repeat
	background-position: center center

.img-responsive
	display:block
	max-width:100%
	height:auto

.deleted
	filter: blur(7px)
	pointer-events: none

.left-column
	.digitopia-xsmall &
		margin-bottom:30px

.fold-column
	.digitopia-xsmall &
		margin-bottom:30px

.friends-list
	background-color:white

#splash
	position: fixed
	top:0
	left:0
	right:0
	bottom:0
	background-color:#333
	z-index:99999
	#splash-logo
		margin: 24vh auto
		color:#999
		text-align: center
		font-size: 3em

#content
	.content-padding-top
		padding-top:15px
		padding-bottom:15px

.feed-controls
	margin-bottom:7px
	margin-top:7px

#invite-friend-form
	margin-bottom:30px

.page-header
	.digitopia-xsmall &
		margin:7px

.dark-background
	background-color:#333
	color:#999
	padding-top:30px
	padding-bottom:30px
	img
		padding-bottom: 30px;
		width: 25%;
	a
		color: #ccc
	a:visited
		color: #ccc

#tmks
	text-align:left
	background-color: #333
	color: #999
	a
		color: #ccc

.copy-left
	display: inline-block
	text-align: right
	margin: 0px
	transform: scaleX(-1)
	filter: FlipH

.is-logged-in
	.hidden-logged-in
		display:none!important

.is-logged-out
	.hidden-logged-out
		display:none!important

.profile-photo-viewport
	position:relative
	height:300px
	img
		transition: all 0.5s ease
	.dropzone
		position:absolute
		top:0px!important
		width:100%
		height:300px
		opacity: 0
		transition: all 0.5s ease;
		paddding-top:40%
	.dropzone:hover
		opacity: 0.8
	.loading
		opacity: 1

.adjust-navbar-margin
	margin-top: 64px
	.digitopia-xsmall &
		margin-top: 56px

.mdc-drawer--modal.mdc-drawer--open
	top: 0px

img.avatar
	border:thick solid white
	position:fixed
	z-index:4
	border-radius: 75px
	width: 42px
	top: 6px
	right: calc(50% - 25px)

.profile-hero
	top:64px
	position:fixed
	height:100vh
	width:100vw
	background-size: cover
	background-repeat:no-repeat
	background-position: center center
	z-index:-1
	.digitopia-xsmall &
		top: 56px
	.text-gradient
		background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%)
		padding-bottom:50px
	.text-overlay
		color:white
		a
			color:white

.profile-parallax
	margin-top:calc(100vh + 50px)
	min-height:calc(100vh - 50px)
	background-color:white

.subnav-tabs
	border-bottom: none
	.nav-item > a
		background-color:#eee

.revealer
	padding-left:7px
	font-size:.75em
	cursor:pointer

.form-validation
	.input-relative
		position:relative

	.input-ok-indicator
		opacity:0
		color: green!important

	.input-ok
		.input-ok-indicator
			opacity:1

	.validation-help
		opacity:0
		pointer-events:none
		color:#b00020

	.input-error
		&.touched
			.validation-help
				opacity:1

.comments-list
	.timestamp
		font-size:11px
	.comment
		font-size: 0.8em
	.comment-photo
		margin-right:7px
		img
			.not-digitopia-xsmall &,.not-digitopia-small &
				max-height:40vh
				max-width: 100%

			.digitopia-xsmall &, .digitopia-small &
				max-width: 100%
				max-height: auto

.reaction-summary
	.reaction-summary-heading
		padding-right: 4px
		font-size:12px

	.reaction-summary-icons
		padding-right: 4px

#scope-posting-form
	.scope-posting-form
		overflow:visible
		&.focused
			margin-bottom:0px
			.form-group
				margin-bottom:0px
				overflow:hidden
			#form-tab
				.posting-body
					border-radius:0
					border-top-left-radius: 4px
					border-top-right-radius: 4px
					min-height:33vh
					background-color:white
					border-color:#eee

		.posting-body
			border thin solid #333
			border-radius: 4px
			background-color:#eee

		&.reply
			margin-left:37px

	.shared-post
		background-color:white
		#scope-post-list
			min-height:auto
			padding: 15px
			.post
				box-shadow: 0 0 3px 1px rgb(94, 158, 214)

	.tabbed
		position:relative
		overflow:auto
		.tabs
			position:absolute
			top:0px
			left:0px
			width:100%

		#preview-tab
			display:none
			min-height:33vh
			border-top-left-radius: 4px
			border-top-right-radius: 4px
			border: thin solid $borderColor
			padding: 6px 12px
			background-color:white
	.validation-help
		margin-top: -22px
		margin-bottom: 4px
	.tags
		display:none
	.upload-zone
		border:none
		border-left:thin solid $borderColor
		border-right:thin solid $borderColor
		border-bottom:thin solid $borderColor
		min-height:100px
		text-align:center
		display:none
		.dz-preview
			.form-group
				.digitopia-xsmall &
					margin-top:15px
			.metadata
				textarea
					height: 4.8em
					min-height: 1.2em
		.dz-image
			margin:0 auto
			img
				max-height:120px
		.dz-message
			color:#eee
		.dz-remove
			text-align:left
			.digitopia-xsmall &
				text-align: center
		.ui-state-highlight
			height: 120px
			width:140px
			display:inline-block
			margin:16px
	.geo-zone
		padding-bottom: 7px
		position:relative
		display:none
	.autopost-zone
		display:none
		position:relative
	.post-tools
		border-right: thin solid $borderColor
		border-left: thin solid $borderColor
		border-bottom: thin solid $borderColor

		border-bottom-left-radius: 4px
		border-bottom-right-radius: 4px
		padding: 7px
		background-color:white
		margin-bottom:30px
		.button-zone
			padding-bottom:7px

	.comment-button-zone
		padding:7px
	.hide-until-subject-focus
		display:none
	.focused .hide-until-subject-focus
		display:block
	.posting-body
		font-family: "Lucida Console", Monaco, monospace
		min-height:2.5em
		padding: 7px
		height:auto
	.focused textarea
		min-height:calc(33vh - 8px)
	label
		color: #666
		font-weight: normal
	.audience-select
		margin-bottom:3px!important
	.checkbox-group
		border-top: thin solid $borderColor
		text-align:center
		label
			font-size: .75em

	#post-upload-button
		margin-left:15px

	#post-geo-button
		margin-left:15px

	#post-preview-button
		margin-left:15px

	#post-autopost-button
		margin-left:15px

.markdown
	h1,h2,h3,h4
		margin-top:0px
		margin-bottom:7px
		clear: both
	h1
		font-size: 26px
		line-height: 32px
	h2
		font-size: 18px
		line-height: 22px
	a
		text-decoration:underline
	b
		color:black
	.in-editor
		pointer-events:none
	blockquote
		font-size:18px
		border-color: #666
		clear: both
		border-left: thick solid
		padding-left: 1rem
	div
		clear: both
	ul
		li
			p
				margin:0

.constrained
	position:relative
	overflow:hidden
	cursor:pointer
	&:after
		font-size: 16px
		text-align: center
		font-weight: bold
		content: "MORE \2193"
		position: absolute
		z-index: 1
		bottom: 0
		left: 0
		width: 100%
		height: 1.5em
		line-height: 1.5em
		color: #eee
		padding-top: 0px
		background-color: rgba(0,0,0,.7)
		border-top: thin dashed #eee

#scope-post-list
	word-wrap: break-word
	.not-digitopia-xsmall &
		min-height: calc(100vh - 50px)
	.newsfeed-item
		.news-summary
			text-align:right
			padding:7px
			font-size:.75em

	.pending
		border: thin dashed yellow

	.shared-post
		background-color:white
		padding: 15px
		.post
			box-shadow: 0 0 3px 1px rgb(94, 158, 214)

	.post
		background-color:white
		margin-bottom:15px
		&.loading
			min-height:398px
		.media-heading
			margin-bottom:0
		h4
			.digitopia-xsmall &
				font-size:18px
		.secondary
			font-size: .75em
			color: #999
			a
				color: #999
		.visibility
			display: inline-block
			text-transform:capitalize
		.post-actions
			text-align: right
			button
				border:none
				background-color:rgba(0,0,0,0)
				&:focus
					outline: none !important;
					box-shadow: none !important;
			.dropdown-menu
				font-size: .75em
				text-align:left
				position: absolute
				top: 0px
				right: 20px
				left: -200px

		.permalink
			display: inline-block
		.post-geo
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			max-width: 250px
		.post-body
			padding-left: 7px
			padding-right: 7px
		.post-photos
			margin-left: 15px
			margin-right: 15px

		.post-identity
			position:relative
			border-bottom:thin solid $borderColor
			padding-bottom:7px
			margin-bottom:7px
			padding-top: 7px
			padding-left: 7px
			padding-right: 7px
			.post-avatar
				.media
					overflow:initial
				.media-body
					overflow:initial
				img
					max-width:75px
					border-radius:4px
			.target-arrow
				margin-left:15px
				margin-right:15px
				color: #999
				font-size:.8em
			.post-timestamp
				margin-top:7px

		.form-group
			margin-bottom:0
		.focused .form-group
			margin-bottom:15px
		.img-thumb
			margin:0
			padding:0
			cursor:pointer
			background: linear-gradient(to right bottom, rgba(0,0,0,.9), rgba(0,0,0,.6))
			&.full-width
				min-height:50vh
				min-width:100%
			.more-photos
				background-color:rgba(0,0,0,.5)
				color:white
				top:0px
				right:0px
				bottom:0px
				left:0px
				text-align:center
				p
					margin: 40% auto
			.caption
				transition: all 0.5s ease
				padding:10px
				background-color:rgba(0,0,0,.5)
				color:white
				top:0px
				right:0px
				bottom:0px
				left:0px
				opacity:0
				&:hover
					opacity:1
				.caption-text
					position: absolute
					bottom: 0px

.reactions-and-comments
	padding-left:7px
	padding-right: 7px
	padding-bottom: 7px

	.rule
		border-top:thin solid $borderColor

	.comment-container
		h1,h2,h3,h4
			clear:left
		margin-left:37px
		p
			margin: 0 0 7px
		blockquote
			padding: 4px 10px
			font-size: 1em
			border-left: 2px solid #B5E3E3

	.comment-separator
		margin-bottom:7px
		border-top:thin solid #ccc

	.post-reactions
		cursor:pointer
		overflow:hidden
		position:relative
		text-align:right
		font-size:1em
		padding-top:4px
		padding-bottom:4px
		.reaction-button-summary
			display:inline-block
		.reaction-button-container
			position:relative
			display:inline-block
		.greyscale
			filter: grayscale(100%);
		.greyscale.color
			filter: grayscale(0%);

		.reaction-button
			border:thin solid rgba(0,0,0,0)
			border-radius:2px
			cursor:pointer
			div
				padding-top: 2px;
				padding-left: 2px;
			&:hover
				div
					box-shadow: 0 0 3px 1px rgb(94, 158, 214)
			&.selected
				div
					box-shadow: 0 0 3px 1px rgb(94, 158, 214)
		.more-reactions
			animation-duration: .35s
			position:absolute
			top: 4px
			left: 0px
			display:none
		.reaction
			.profile-thumb
				width:36px
				border-radius:50%
	.post-comments
		border-top:thin solid #ccc
		padding-top:7px
		.comments-label
			display:block
			cursor:pointer
			padding-bottom:7px
			border-bottom:thin solid #ccc
			padding-bottom:7px
			margin-bottom:7px
			text-align:center
			&:hover
				text-decoration:none
			table
				margin 0 auto
			.badge
				margin-right: 4px
				color:#eee
			.comments-label-text
				padding-right: 4px
				text-transform: uppercase
			.indicator
				padding-left:7px
				&:after
					font-family: 'Font Awesome 5 Free'
					font-weight: 900;
					content: "\F078"
					color: #FF8166
			&.collapsed
				.indicator
					&:after
						content: "\F054";

		.comment
			&.reply
				margin-left:37px
			.thumb-container
				float:left
			.profile-thumb
				width:30px
				float:left
				margin-right:7px
				margin-bottom:7px
				border-radius:4px
			.profile-link
				margin-right:7px
	.reaction-details
		animation-duration: .1s
		display:none
		table
			width:100%
			text-align:left
			td
				padding-right: 7px
		img
			height: 24px
			border-radius: 50%
			margin-top: 5px
			margin-bottom: 5px
			margin-left: 2px
			margin-right: 4px

.activity-count
	position: absolute
	top: 0px
	right: 0px
	background-color:red
	color:white
	text-align: center
	padding: 4px

#news-feed
	quick()
	position: fixed
	width:300px
	top:-100vh
	right:0px
	background-color:white
	max-height:100vh
	overflow: hidden
	&.open
		top:64px
		max-height:calc(100vh - 64px)
		.digitopia-xsmall &
			top:56px
			max-height:calc(100vh - 56px)
	.status
		width:8px
		height:8px
		border-radius:4px
		background-color:green
		margin-top:11px
		margin-right:10px
		.offline &
			background-color:red

	.news-feed-header
		height:30px
		line-height:30px
		padding-left: 10px
		padding-right: 10px
		font-weight:bold
		background-color:#eee

	.news-feed-footer
		height:30px
		line-height:30px
		padding-left: 10px
		padding-right: 10px
		background-color:#eee
		text-align:right
		font-size:.75em
		.digitopia-xsmall &
			display:none
	.news-feed-items
		font-size:.75em
		.not-digitopia-xsmall &.constrained-height
			overflow: hidden
			max-height:calc(100vh - 75px - 60px)
		.news-feed-item
			min-height:50px
			border-bottom:thin dashed $borderColor
			padding-right: 10px
			margin-left:50px
			cursor:pointer
			&.is-new
				background-color:#fee
			img
				height:39px
				border-radius:25px
				margin-top:5px
				margin-bottom:5px
				margin-left:-40px
			div
				padding-left:10px
				display:inline-block
				vertical-align:middle
#menu-icon
	margin:0 auto
.menu-icon-placeholder
	width:75px
	position:relative
	margin-top:-6px
.menubar-thumb
	height:100px
	border-radius:50px
.friend-card
	margin-bottom:7px
	padding:10px
	.friend-controls
		display:none
	&:hover
		background-color:#eee
		.friend-controls
			display:block

	img
		max-width:50px
		border-radius:25px
		border:thick solid white

.loader
	margin:0 auto
	border: 10px solid #f3f3f3;
	border-top: 10px solid #3498db
	border-radius: 50%
	width: 60px
	height: 60px
	animation: spin 2s linear infinite

@keyframes spin
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }

#geo-pulldown
	.address
		padding-left:.5em
		padding-right:.5em
		padding-bottom:.2em
		padding-top:.2em
		cursor:pointer
		&:hover
			background-color:#eee
	.freeform
		font-style: italic
	.distance
		color:#ccc

.position-relative
	position:relative
