$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family: sans-serif;
$blockquote-border-color: #B5E3E3;
$link-color: #333;
$link-hover-color: darken($link-color, 15%);
$navbar-inverse-bg: #333;

$fa-font-path: "/dist/fonts";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../vendor/fa/web-fonts-with-css/scss/fontawesome";
@import "../vendor/fa/web-fonts-with-css/scss/fa-brands";
@import "../vendor/fa/web-fonts-with-css/scss/fa-regular";
@import "../vendor/fa/web-fonts-with-css/scss/fa-solid";

$mdc-theme-primary: #212121;
$mdc-theme-secondary: #757575;

@import "@material/typography/mdc-typography";
@import "@material/theme/mdc-theme";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/layout-grid/mdc-layout-grid";


.mdc-top-app-bar {
	top:0px;
}

.dialog__body--scrollable {
	max-height: 66vh;
	overflow: auto;
}

.mdc-text-field {
	width:100%;
}

.mdc-text-field__input {
	padding-top:1px
}

.mdc-layout-grid {
	max-width:1024px;
}

// bootstrap disambiguation - remove when bootstrap is gone
label {
	margin-bottom: auto;
}
