-var posterProfile = resolvedProfiles[post.source]
-var commenterProfile = resolvedProfiles[comment.source]
.post
	img.poster-avatar(src= posterProfile.photo.url)
	.title= post.description
	
	if data.post.sortedPhotos.length
		- var image = _.get(data.post,'sortedPhotos[0].uploads[0].imageSet.thumb')
		if !image
			- image = _.get(data.post,'sortedPhotos[0].uploads[0].imageSet.original')
		img(src= image.url width= image.width height= image.height)
			
	else if data.ogMap && Object.keys(data.ogMap)
		- var link = data.ogMap[Object.keys(data.ogMap)[0]]
		- var title = _.get(link,'ogData.data.ogTitle')
		- var description = _.get(link,'ogData.data.ogDescription')
		- var image = _.get(link,'uploads[0].imageSet.thumb')
		if !image
			- image = _.get(link,'uploads[0].imageSet.original')
		img(src= image.url width= image.width height= image.height)
		.title= title
		.description= description
		
	.comment
		img.commenter-avatar(src= commenterProfile.photo.url)
		
