p #{user} (#{email}) has invited you be friends on myAntiSocial.net

div= note

a(href= url) Click Here
to view #{user}'s profile

h3 General information about myAntiSocial.net
ul
	li Total user control and ownership of content
	li Total user control over who sees what
	li No advertising, no data collection, no demographic information shared with corporations
	li Strong cryptography and signed messages for communication between servers that can only be decrypted by the target user
