head
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	include ../cards/callout-email-css
body
	.wrapper(style="border: thin solid #333;border-radius:7px;margin:30px;")
		.header(style="background-color:#333;text-align:center")
			img(src= config.publicHost + "/images/logo.svg" style="margin:0 auto;width:75;padding:14px;")
		.content(style="padding:14px;position:relative;padding-bottom:200px")
			-var message = 'Hey, new freinds!'
			-var link = config.publicHost + '/proxy-profile?endpoint='+encodeURIComponent(item.about)
			include ../cards/friends-callout.pug
