extends ../wrapper

block seo
	title
		!= data.community.name ? data.community.name : globalSettings.serverTitle

block content
	- var uploads = typeof data.community.uploads === 'function' ? data.community.uploads() : data.community.uploads
	- var communityBackground =getUploadForProperty('background',uploads,'large',FPO)

	.profile-hero(data-jsclass="scrollToController,scrollEffectsController" data-bg= communityBackground.url data-effect-start="0.00" data-effect-end="0.66" data-effect-units="viewport" data-effect-transform-units="viewport" data-effect-start-css="margin-top:0.00px;padding-top:0.00px;" data-effect-end-css="margin-top:-0.33px;padding-top:0.33px" data-effect-ease="swing")
		.text-gradient
			.mdc-layout-grid
				.mdc-layout-grid__inner
					.mdc-layout-grid__cell.mdc-layout-grid__cell--span-12.text-overlay.navbar-margin
						if data.community.name
							h1= data.community.name
						if data.community.tagline
							p= data.community.tagline
							
						if !subscription
							button.mdc-button.mdc-button--raised Join Community
						else
							if subscriptionStatus === 'pending'
								p Pending request
								
							else
								
								button.mdc-button.mdc-button--raised Leave Community

							
							
	.profile-parallax(data-jsclass="vibrantController" data-image= communityBackground)
		.mdc-layout-grid
			.mdc-layout-grid__inner
				.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8.content-padding-top.content
					if !user && !member
						h4 You must be logged in to view this page
					else
						-var posts = data.posts
						if posts && posts.length
							
							include ../components/post-list
							
							.text-center
								.loader(data-jsclass="loadMoreController")
									
						else
							.page-header
								h4 No posts visible to you in this community at the moment.
