extends ../wrapper

block seo
	title
		!= globalSettings.serverTitle

block content
	- var communityBackground = { 'url': '/images/fpo.jpg' }
	if globalSettings.instance
		- communityBackground =getUploadForProperty('background',globalSettings.instance.uploads(),'large',FPO)

	.profile-hero(data-jsclass="scrollToController,scrollEffectsController" data-bg= communityBackground.url data-effect-start="0.00" data-effect-end="0.66" data-effect-units="viewport" data-effect-transform-units="viewport" data-effect-start-css="margin-top:0.00px;padding-top:0.00px;" data-effect-end-css="margin-top:-0.33px;padding-top:0.33px" data-effect-ease="swing")
		.text-gradient
			.container-fluid.text-overlay
				if community.name
					h1= community.name
				if community.tagline
					p= community.tagline
	.profile-parallax(data-jsclass="vibrantController" data-image= community.background.urlSmall)
		.container-fluid.content-padding-top.content
			.row
				.col-sm-8.left-column
					if !user
						h4 You must be logged in to view this page
					else
						-var posts = data.posts
						if posts && posts.length
							
							include ../components/post-list
							
							.text-center
								.loader(data-jsclass="loadMoreController")
									
						else
							.page-header
								h4 No public community posts on this server at the moment.

				.col-sm-4
					#newsfeed-here
