extends ../wrapper

block seo
	title= pageTitle

block content
	div(data-jsclass="vibrantController" data-image= profile.backgroundSmall.url)
		.mdc-layout-grid
			.mdc-layout-grid__inner
				.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8.content-padding-top.content
					#the-posting-form
						include ../components/posting-form
					if user && user.audiences
						.feed-filters.hidden-not-digitopia-xsmall
							for audience,index in user.audiences
								.mdc-form-field
									.mdc-checkbox
										input.mdc-checkbox__native-control.filter-feed(id="#select-audience-" + index type="checkbox"  data-audience= audience)
										.mdc-checkbox__background
											svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
												path.mdc-checkbox__checkmark-path(fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59")
											.mdc-checkbox__mixedmark
									label(for="select-audience-" + index)= audience
									
					.feed-controls.hidden-not-digitopia-xsmall
						.float-right
							if userSettings.feedSortOrder !== 'post'
								a(href="#" data-jsclass="getEndpointController" data-method= 'PATCH' data-data='{"feedSortOrder":"post"}' data-endpoint= '/user-settings') Sort By Posting
								
							if userSettings.feedSortOrder !== 'activity'
								a(href="#" data-jsclass="getEndpointController" data-method= 'PATCH' data-data='{"feedSortOrder":"activity"}' data-endpoint= '/user-settings') Sort By Activity
								
					#is-feed
						if userSettings.feedSortOrder === 'post'
							| Sorted by Post 
							
						if userSettings.feedSortOrder === 'activity'
							| Sorted by Activity
							
						#scope-post-list
							for item,index in items
								if item.httpStatus === 200 && (item.type === 'post' || item.type === 'interaction' || item.type === 'tag')
									- var post = item.about
									- post = post.replace(/\/(comment|photo)\/.*/,'')
									.newsfeed-item
										.news-summary!= item.feedSummary
										!= item.html
										
					.text-center
						.loader(data-jsclass="loadMoreController")
							
				.mdc-layout-grid__cell.mdc-layout-grid__cell--span-4.content-padding-top.content.hidden-digitopia-xsmall
					if user && user.audiences
						.feed-filters
							for audience,index in user.audiences
								.mdc-form-field
									.mdc-checkbox
										input.mdc-checkbox__native-control.filter-feed(id="#select-audience-" + index type="checkbox" data-audience= audience)
										.mdc-checkbox__background
											svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
												path.mdc-checkbox__checkmark-path(fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59")
											.mdc-checkbox__mixedmark
									label(for="select-audience-" + index)= audience
									
					.feed-controls
						.float-right
							if userSettings.feedSortOrder !== 'post'
								a(href="#" data-jsclass="getEndpointController" data-method= 'PATCH' data-data='{"feedSortOrder":"post"}' data-endpoint= '/user-settings') Sort By Posting
								
							if userSettings.feedSortOrder !== 'activity'
								a(href="#" data-jsclass="getEndpointController" data-method= 'PATCH' data-data='{"feedSortOrder":"activity"}' data-endpoint= '/user-settings') Sort By Activity
