extends ../wrapper

block seo
	title.
		Feed

block content
	.container-fluid.content-padding-top.content.no-gutters
		.row
			.col-sm-8.left-column
				include ../components/posting-form
				#scope-post-list
					for item in items
						if item.type === 'post' || item.type === 'interaction' || item.type === 'tag'
							- var post = item.about
							- post = post.replace(/\/(comment|photo)\/.*/,'')
							.newsfeed-item
								.news-summary!= item.feedSummary
								.post.loading.live-element(data-jsclass="loadController" data-target=".post" data-endpoint= proxyEndPoint(post,user,true) data-watch= post data-watch-type="post")

				.text-center
					.loader(data-jsclass="loadMoreController")
					
			.col-sm-4
				#newsfeed-here
