extends ../wrapper

block seo
	title.
		Feed

block content
	.container-fluid.content-padding-top.content.no-gutters
		.row
			.col-sm-8.left-column
				include ../components/posting-form
				.feed-controls
					if userSettings.feedSortOrder === 'post'
						| Sorted by Post 
						
					if userSettings.feedSortOrder === 'activity'
						| Sorted by Activity 
					
					.pull-right
						if userSettings.feedSortOrder !== 'post'
							a.btn.btn-xs.btn-default(href="#" data-jsclass="getEndpointController" data-method= 'PATCH' data-data='{"feedSortOrder":"post"}' data-endpoint= '/user-settings') Sort By Posting
							
						if userSettings.feedSortOrder !== 'activity'
							a.btn.btn-xs.btn-default(href="#" data-jsclass="getEndpointController" data-method= 'PATCH' data-data='{"feedSortOrder":"activity"}' data-endpoint= '/user-settings') Sort By Activity
							
				#scope-post-list
					for item,index in items
						if item.type === 'post' || item.type === 'interaction' || item.type === 'tag'
							- var post = item.about
							- post = post.replace(/\/(comment|photo)\/.*/,'')
							.newsfeed-item
								.news-summary!= item.feedSummary
								if index === 0
									.post.loading.live-element(data-jsclass="loadController" data-target=".post" data-endpoint= proxyEndPoint(post,user,true) data-watch= post data-watch-type="post")
								else
									.post.loading.live-element.lazy-instantiate(data-lazy-jsclass="loadController" data-target=".post" data-endpoint= proxyEndPoint(post,user,true) data-watch= post data-watch-type="post")

				.text-center
					.loader(data-jsclass="loadMoreController")
					
			.col-sm-4
				#newsfeed-here
