extends ../wrapper

block seo
	title.
		Friends

block content
	.container-fluid.content-padding-top.content
		.page-header
			h3 Friends
		
		.row
			.col-sm-6.fold-column
							
				form.form.form-validation(method="POST" action="/friends" data-jsclass="formValidator,friendLookupController" data-submitter="#lookup-button")
					h4 Add friend by Public Page URL
					.form-group
						.input-group
							.input-relative
								input.form-control(type="text" name="endpoint" placeholder="Endpoint" data-validate="required,url" value= endpoint)
							.input-group-btn
								button#lookup-button.btn.btn-primary Lookup
							
				h4 - or - Invite a friend via Email

				form#invite-friend-form.form.form-validation(method="POST" action="/invite" data-submitter="#send-invite" data-jsclass="formValidator,postEndpointController")
					input(type="hidden" name="type" value="friend")
					.form-group
						.input-relative
							input.form-control(type="text" name="email" placeholder="Email Address" data-validate="required,email")
							.input-ok-indicator
								span.glyphicon.glyphicon-ok
							.validation-help
								
					.form-group
						.input-relative
							textarea.form-control(type="text" name="note" placeholder="Note" data-validate="required")
							.input-ok-indicator
								span.glyphicon.glyphicon-ok
							.validation-help
					button#send-invite.btn.btn-primary.btn-sm Send

				#sidebar
					h4 Your Public Endpoint
					p= config.publicHost + '/' + user.username

			.col-sm-6
				if !friends.length
					p Oops. No friends yet.
				else
					.row
						for friend in friends
							.col-4.col-sm-6
								.media.friend-card
									.media-left.media-top
										img(src= friend.resolvedProfiles[friend.remoteEndPoint].profile.photo.url)
									.media-body
										h4
											a(href= proxyEndPoint(friend.remoteEndPoint,user))= friend.resolvedProfiles[friend.remoteEndPoint].profile.name
										p
											if friend.status === 'pending'
											
												if !friend.originator
													button.btn.btn-primary.btn-md(data-jsclass="getEndpointController" data-endpoint= '/accept-friend?endpoint=' + encodeURIComponent(friend.remoteEndPoint)) Accept
													| [decline] [block]
												else
													| Request Pending [cancel]
											else
												|  [delete]
