extends ../wrapper

block seo
	title.
		Friends

block content
	.container-fluid.content-padding-top.content
		.page-header.mb-5
			.float-right
				- var myendpoint = config.publicHost + '/' + user.username;
				- myendpoint = base64.encode(myendpoint)
				input#myendpoint(type="text" value= myendpoint style="opacity:0;width:10px;")
				button.btn.btn-xs.btn-primary.copy-to-clipboard(data-target="#myendpoint") Copy Your Endpoint to Clipboard
			h3 Friends
				
		.row
			.col-sm-6.fold-column
							
				form.form.form-validation(method="POST" action="/friends" data-jsclass="formValidator,friendLookupController" data-submitter="#lookup-button")
					h4 Add friend by Public Page Endpoint
					.form-group
						.input-group
							.input-relative
								input.form-control(type="text" name="endpoint" placeholder="Endpoint" data-validate="required" value= endpoint)
							.input-group-btn
								button#lookup-button.btn.btn-primary Lookup
								
							
				h4 - or - Invite a friend via Email

				form#invite-friend-form.form.form-validation(method="POST" action="/invite" data-submitter="#send-invite" data-jsclass="formValidator,postEndpointController")
					input(type="hidden" name="type" value="friend")
					.form-group
						.input-relative
							input.form-control(type="text" name="email" placeholder="Email Address" data-validate="required,email")
							.input-ok-indicator
								span.fa.fa-check
							.validation-help
					.form-group
						.input-relative
							textarea.form-control(type="text" name="note" placeholder="Note" data-validate="required")
							.input-ok-indicator
								span.fa.fa-check
							.validation-help
					button#send-invite.btn.btn-primary.btn-sm Send

			.col-sm-6
				if !friends.length
					p Oops. No friends yet.
				else
					.row
						for friend in friends
							if friend.status === 'pending' || friend.status === 'accepted'
								.col-4.col-sm-6
									.media.friend-card
										img(src= friend.resolvedProfiles[friend.remoteEndPoint].profile.photo.url)
										.media-body
											.friend-controls.float-right
												if friend.status === 'pending'
													if !friend.originator
														div
															a.btn.btn-primary.btn-xs(data-jsclass="getEndpointController" data-endpoint= '/accept-friend?endpoint=' + encodeURIComponent(friend.remoteEndPoint) data-toggle="tooltip" title="Accept Request")
																span.fa.fa-fw.fa-check
														div
															a.btn.btn-default.btn-xs(data-jsclass="getEndpointController" data-method= 'PUT' data-data='{"status":"declined"}' data-endpoint= '/api/MyUsers/me/friends/' + friend.id.toString() data-toggle="tooltip" title="Decline Request")
																span.fa.fa-fw.fa-times
														div
															a.btn.btn-default.btn-xs(data-jsclass="getEndpointController" data-method= 'PUT' data-data='{"status":"blocked"}' data-endpoint= '/api/MyUsers/me/friends/' + friend.id.toString() data-toggle="tooltip" title="Block Request")
																span.fa.fa-fw.fa-ban
													else
														a.btn.btn-default.btn-xs(data-jsclass="getEndpointController" data-method= 'PUT' data-data='{"status":"canceled"}' data-endpoint= '/api/MyUsers/me/friends/' + friend.id.toString() data-toggle="tooltip" title="Cancel Request")
															span.fa.fa-fw.fa-times

												else
													if friend.status === 'accepted'
														a.btn.btn-default.btn-xs(data-jsclass="getEndpointController" data-method= 'PUT' data-data='{"status":"deleted"}' data-endpoint= '/api/MyUsers/me/friends/' + friend.id.toString() data-toggle="tooltip" title="Delete")
															span.fa.fa-fw.fa-times

											a(href= proxyEndPoint(friend.remoteEndPoint,user))= friend.resolvedProfiles[friend.remoteEndPoint].profile.name
											if friend.status === 'pending'
												|  (pending) 

				if invites && invites.length
					.page-header Invitations
					ul
						for invite in invites
							li= invite.email + ' (' + invite.status + ')'
	
