extends ../wrapper

block seo
	title
		!= globalSettings.serverTitle

block content
	.mdc-layout-grid
		.mdc-layout-grid__inner
			.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8.content-padding-top.content
				-var posts = data.posts
				if posts && posts.length
					h4
						= 'Recent Public Posts On This Server'
					
					include ../components/post-list
				else
					.page-header
						h4 No public posts on this server at the moment.

			.mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
				if !user
					include ../components/server-sidebar
