extends ../wrapper

block seo
	title= pageTitle

block content
	.mdc-layout-grid
		.mdc-layout-grid__inner
			.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8.content-padding-top.content(data-jsclass="clearAccessToken")
				p Please login to access the requested page #{page}
				
