extends ../wrapper

block seo
	title= pageTitle

block content
	.container-fluid.content-padding-top.content(data-jsclass="clearAccessToken")
		.row
			.col-sm-12
				p Please login to access the page #{page}
				
