extends ../wrapper

block seo
	title.
		Reanimate

block content
	.container-fluid.content-padding-top.content

		.page-header
			h1.
				Import user data from .zip file
			p.
				If you are moving your account from another server, upload the zip file you downloaded from your old server.
	
		form.form(method="POST" action="/reanimate" enctype="multipart/form-data")
			.form-group
				input(type="file" name="usefile")
			.form-group
				button.btn.btn-primary Upload
