extends ../wrapper

block seo
	title= pageTitle

block content
	- var photo = getUploadForProperty('photo',user.uploads(),'large',headshotFPO)
	- var background = getUploadForProperty('background',user.uploads(),'large',FPO)
	- var communityBackground = { 'url': '/images/fpo.jpg' }
	if globalSettings.instance
		- communityBackground =getUploadForProperty('background',globalSettings.instance.uploads(),'large',FPO)
	.mdc-layout-grid
		.mdc-layout-grid__inner
			.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6.content-padding-top.content
		
				h2.mb-3 User Settings

				form.form.form-validation(data-jsclass="formValidator,saveOnChange" data-endpoint="/api/MyUsers/me")
					.form-group
						.form-check
							if user.discoverable
								input.form-check-input(type="checkbox" name="discoverable" checked)
							else
								input.form-check-input(type="checkbox" name="discoverable")
							label.form-check-label Discoverable (Public posts and profile visible to search engines)

					if !user.username
						.form-group
							.mdc-text-field.mdc-text-field--with-trailing-icon
								label.mdc-floating-label User Name (one time edit)
								input.mdc-text-field__input(type="text" name="username" data-validate="required" data-mask="^[0-9a-zA-Z\-\_\.]+$" value= user.username data-autofocus="true" data-suffix= user.unique data-unique-endpoint= "/api/MyUsers/isunique?field=username")
								.input-ok-indicator.material-icons.mdc-text-field__icon
									span.fa.fa-check
								.mdc-line-ripple
							.validation-help.mdc-text-field-helper-text--persistent
					if !user.name
						.form-group
							.mdc-text-field.mdc-text-field--with-trailing-icon
								label.mdc-floating-label Full Name
								input.mdc-text-field__input(type="text" name="name" data-validate="required" value= user.name)
								.input-ok-indicator.material-icons.mdc-text-field__icon
									span.fa.fa-check
								.mdc-line-ripple
							.validation-help.mdc-text-field-helper-text--persistent

					.form-group
						.mdc-text-field.mdc-text-field--with-trailing-icon
							label.mdc-floating-label Email
							input.mdc-text-field__input(type="text" name="email" data-validate="required" value= user.email  data-unique-endpoint= "/api/MyUsers/isunique?field=email")
							.input-ok-indicator.material-icons.mdc-text-field__icon
								span.fa.fa-check
							.mdc-line-ripple
						.validation-help.mdc-text-field-helper-text--persistent

					.form-group
							.input-relative
								label Custom Audiences For Friends
								- var canEdit = user.audiences !== ""
								- var audiences = JSON.stringify(user.audiences ? user.audiences : [])
								input#audience-list.form-control(type="hidden" name="audiences" placeholder="Audiences" data-validate="required" value= audiences)
								.list-edit(data-jsclass="editListController" data-target="#audience-list" data-add-only= !init)
								.validation-help


					.form-group
						.form-check
							if user.community
								input.form-check-input(type="checkbox" name="community" checked)
							else
								input.form-check-input(type="checkbox" name="community")
							label.form-check-label This endpoint is a community/group

				form.form.form-validation(data-jsclass="formValidator,saveOnChange" data-endpoint="/user-settings")
					.form-group
						label Friends can see my friends list
							select.form-control(name='friendListVisibility' data-validate="required")
								if userSettings.friendListVisibility === 'none'
									option(value="none" selected) No friends visible
								else
									option(value="none") No friends visible
									
								if userSettings.friendListVisibility === 'mutual'
									option(value="mutual" selected) Mutual friends only
								else
									option(value="mutual") Mutual friends only
								
								if userSettings.friendListVisibility === 'all'
									option(value="all" selected) All friends
								else
									option(value="all") All friends
					h2 Email Notifications
					.form-group
						.form-check
							if userSettings.notifications_digest
								input.form-check-input(type="checkbox" name="notifications_digest" checked)
							else
								input.form-check-input(type="checkbox" name="notifications_digest")
							label.form-check-label Daily Activity Recap
					.form-group
						.form-check
							if userSettings.notifications_friend_request
								input.form-check-input(type="checkbox" name="notifications_friend_request" checked)
							else
								input.form-check-input(type="checkbox" name="notifications_friend_request")
							label.form-check-label Friend Request
					.form-group
						.form-check
							if userSettings.notifications_posts
								input.form-check-input(type="checkbox" name="notifications_posts" checked)
							else
								input.form-check-input(type="checkbox" name="notifications_posts")
							label.form-check-label Friend Posts
					.form-group
						.form-check
							if userSettings.notifications_reactions
								input.form-check-input(type="checkbox" name="notifications_reactions" checked)
							else
								input.form-check-input(type="checkbox" name="notifications_reactions")
							label.form-check-label Reactions to my Posts
					.form-group
						.form-check
							if userSettings.notifications_comments
								input.form-check-input(type="checkbox" name="notifications_comments" checked)
							else
								input.form-check-input(type="checkbox" name="notifications_comments")
							label.form-check-label Comments on my Posts
									
				- var fb,tw
				if user.identities()
					for identity in user.identities()
						if identity.provider === 'facebook'
							- fb= identity
						if identity.provider === 'twitter'
							- tw= identity
							
				if 0 && environment.FACEBOOK_CLIENT_ID
					.form-group
						span.fa.fa-2x.fa-facebook-square(style="color:#3B5998;margin-right:7px;")
						if fb
							| Linked w/facebook account
						else
							a(href="/auth/facebook" data-no-hijax="true") Link w/ Facebook Account
				
				if environment.TWITTER_CONSUMER_KEY
					.form-group
						span.fa.fa-2x.fa-twitter-square(style="color:#3B5998;margin-right:7px")
						if tw
							| Linked w/twitter account
						else
							a(href="/auth/twitter" data-no-hijax="true") Link w/ Twitter Account

				#scope-upload
					.form-group
						h3 Profile Photo
						- var endpoint = "/api/MyUsers/me/upload/photo"
						.profile-photo-viewport.text-center(data-jsclass="digitopiaViewport" data-crop="true" data-blowup="true")
							img(data-jsclass="digitopiaLazyImg" data-lazy-src= photo.url)
							.dropzone(data-jsclass="dropzoneController" data-endpoint= endpoint)
								.dz-message.
									Drop your photo here<br><small>(or click to upload)</small>

					.form-group
						h3 Profile Background
						- var endpoint = "/api/MyUsers/me/upload/background"
						.profile-photo-viewport.text-center(data-jsclass="digitopiaViewport" data-crop="true" data-blowup="true")
							img(data-jsclass="digitopiaLazyImg" data-lazy-src= background.url)
							.dropzone(data-jsclass="dropzoneController" data-endpoint= endpoint)
								.dz-message.
									Drop your image here<br><small>(or click to upload)</small>
			
			.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6.content-padding-top.content
				if isAdmin
					.page-heading
						h2 Server Settings
					form.form.form-validation(data-jsclass="formValidator,saveOnChange" data-endpoint="/server-settings")
						.form-group
							.input-relative
								label Multi-user
									select.form-control(name='multiUser' data-validate="required")
										if globalSettings.multiUser === '' || globalSettings.multiUser === 'closed'
											option(value='closed' selected) Single User
										else
											option(value='closed') Single User
											
										if globalSettings.multiUser === 'open'
											option(value='open' selected) Open
										else
											option(value='open') Open
											
										if globalSettings.multiUser === 'invite'
											option(value='invite' selected) By Invitation
										else
											option(value='invite') By Invitation
						.form-group
							.mdc-text-field.mdc-text-field--with-trailing-icon
								label.mdc-floating-label Server Name
								input.mdc-text-field__input(type="text" name="serverName" placeholder="Server Name" data-validate="required" value= globalSettings.serverName)
								.input-ok-indicator.material-icons.mdc-text-field__icon
									span.fa.fa-check
								.mdc-line-ripple
							.validation-help.mdc-text-field-helper-text--persistent
						.form-group
							.mdc-text-field.mdc-text-field--with-trailing-icon
								label.mdc-floating-label Server Title
								input.mdc-text-field__input(type="text" name="serverTitle" placeholder="Server Title" data-validate="required" value= globalSettings.serverTitle)
								.input-ok-indicator.material-icons.mdc-text-field__icon
									span.fa.fa-check
								.mdc-line-ripple
							.validation-help.mdc-text-field-helper-text--persistent
						
						.form-group
							.mdc-text-field.mdc-text-field--textarea
								label.mdc-floating-label(for="#server-description") Server Description
								textarea#server-description.mdc-text-field__input(name="serverDescription" data-validate="required" rows="2" )= globalSettings.serverDescription
							.validation-help.mdc-text-field-helper-text--persistent
						
