extends ../wrapper

block seo
	title= pageTitle

block content
	.mdc-layout-grid
		.mdc-layout-grid__inner
			.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8.content-padding-top.content
				.page-header
					h2.mb-3 Create an administrator login for your node

				form.form.form-validation(action="/api/MyUsers/register" method="POST" data-jsclass="formValidator,postEndpointController" data-submitter=".register-button")
					.form-group
						.mdc-text-field.mdc-text-field--with-trailing-icon
							label.mdc-floating-label Email Address
							input.mdc-text-field__input(type="text" name="email"  data-validate="required,email" data-unique-endpoint= "/api/MyUsers/isunique?field=email")
							.input-ok-indicator.material-icons.mdc-text-field__icon
								span.fa.fa-check
							.mdc-line-ripple
						.validation-help.mdc-text-field-helper-text--persistent
							
					.form-group
						.mdc-text-field.mdc-text-field--with-trailing-icon
							label.mdc-floating-label Confirm Email Address
							input.mdc-text-field__input(type="text" name="confirm-email"  data-validate="required,email" data-match="input[name='email']")
							.input-ok-indicator.material-icons.mdc-text-field__icon
								span.fa.fa-check
							.mdc-line-ripple
						.validation-help.mdc-text-field-helper-text--persistent

					.form-group
						.mdc-text-field.mdc-text-field--with-trailing-icon
							label.mdc-floating-label Password
							input.mdc-text-field__input(type="password" name="password" data-validate="required,password")
							.input-ok-indicator.material-icons.mdc-text-field__icon
								span.fa.fa-check
							.mdc-line-ripple
						.validation-help.mdc-text-field-helper-text--persistent
							
					.form-group
						.mdc-text-field.mdc-text-field--with-trailing-icon
							label.mdc-floating-label Confirm Password
							input.mdc-text-field__input(type="password" name="confirm-password" data-validate="required,password" data-match="input[name='password']")
							.input-ok-indicator.material-icons.mdc-text-field__icon
								span.fa.fa-check
							.mdc-line-ripple
						.validation-help.mdc-text-field-helper-text--persistent
							
					.form-group
						.mdc-text-field.mdc-text-field--with-trailing-icon
							label.mdc-floating-label Name
							input.mdc-text-field__input(type="text" name="name" data-validate="required")
							.input-ok-indicator.material-icons.mdc-text-field__icon
								span.fa.fa-check
							.mdc-line-ripple
						.validation-help.mdc-text-field-helper-text--persistent
							
					.form-group
						button.register-button.mdc-button.mdc-button--raised Sign Up
