
block seo
	title= pageTitle

block content
	.mdc-layout-grid
		.mdc-layout-grid__inner
			.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6.content-padding-top.content

				.page-header
					h1 Testbench

				if openNotificationsListeners
					strong openNotificationsListeners
					ul
						for socket in openNotificationsListeners
							li= socket.antisocial.user.username
							
				if openActivityListeners
					strong openActivityListeners:
					ul
						for socket,index in openActivityListeners
							li= index + ' ('+socket.id+')'
