
block seo
	title= pageTitle

block content
	.mdc-layout-grid
		.mdc-layout-grid__inner
			.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6.content-padding-top.content

				.page-header
					h1 Testbench

				if openClients
					strong Clients
					ul
						for socket in openClients
							li= socket.data.currentUser.username
							
				if listeningFriendConnections
					strong listeningFriendConnections:
					ul
						for socket in listeningFriendConnections
							-var user = socket.data.friend.user() ? socket.data.friend.user().username : 'unknown'
							li= user + '->' + socket.data.friend.remoteEndPoint + ' ('+socket.id+')'

				if listeningFriendConnections
					strong watchFriendConnections:
					ul
						for socket in watchFriendConnections
							-var name = socket.data.currentUser ? socket.data.currentUser.username : 'unknown'
							li= name + '<-' + socket.data.friend.remoteEndPoint + ' ('+socket.id+')'
					
