
block seo
	title.
		Testbench

block content
	.container-fluid.content-padding-top.content

		.page-header
			h1 Testbench
		.row
			.col-xs-12
				if clients
					strong Clients
					ul
						for socket in clients
							li= socket.currentUser.username
				if servers
					strong Watchers
					ul
						for socket in servers
							-var user = socket.friend.user() ? socket.friend.user().username : 'unknown'
							li= user + '->' + socket.friend.remoteEndPoint

				if connections
					strong Watching
					ul
						for connection in connections
							-var name = connection.currentUser ? connection.currentUser.username : 'unknown'
							li= name + '<-' + connection.friend.remoteEndPoint
					
