extends ../wrapper

block seo
	title= pageTitle

block content
	.container-fluid.content-padding-top.content
		.page-header
			h1 Privacy Policy / Terms and conditions
		.row
			.col-sm-12
				p.
					What you post is yours and who sees it is up to you. 
