extends ../wrapper

block seo
	title= pageTitle

block content
	.mdc-layout-grid
		.mdc-layout-grid__inner
			.mdc-layout-grid__cell.mdc-layout-grid__cell--span-8.content-padding-top.content
				.page-header
					h1 Privacy Policy / Terms and conditions
				p.
					What you post is yours and who sees it is up to you. 
