extends ../wrapper

block seo
	title.
		Testbench

block content
	.container-fluid.content-padding-top.content

		.page-header
			h1 Testbench
		.row
			.col-xs-8
				.test(data-jsclass="liveNewsFeedItemWebsocketController" data-endpoint = config.websockets + '://' + config.host + ':' + config.port)
					.news-feed-items
			.col-xs-4
				#newsfeed-here-test
