extends ../wrapper

block seo
	title.
		Testbench

block content
	.container-fluid.content-padding-top.content

		.page-header
			h1 Testbench
		.row
			form
				.col-xs-6
					.editable(style="font-family:Helvetica,Arial,sans-serif;min-height:300px;border:thin dashed red;" data-jsclass="markdownEditorController" data-target=".markdown")
						p.
							this is a test
				.col-xs-6
					textarea.markdown(style="min-height:300px;border:thin dashed green;")
