extends ../wrapper

block seo
	title.
		Settings

block content
	.container-fluid.content-padding-top.content
		.row
			.col-sm-12
				if environment.STRIPE_PK && environment.SUBSCRIPTION
					.statement(data-jsclass="paymentStatusController" data-pk= environment.STRIPE_PK data-email= currentUser.email)
					
