extends ../wrapper

block seo
	title= pageTitle

block content
	.mdc-layout-grid
		.mdc-layout-grid__inner
			.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6.content-padding-top.content

				.page-header
					h1 Testbench
				form
					.editable(style="font-family:Helvetica,Arial,sans-serif;min-height:300px;border:thin dashed red;" data-jsclass="markdownEditorController" data-target=".markdown")
						p.
							this is a test
				textarea.markdown(style="min-height:300px;border:thin dashed green;")
