extends ../wrapper

block seo
	title= pageTitle

block content
	.mdc-layout-grid
		.mdc-layout-grid__inner
			.mdc-layout-grid__cell.mdc-layout-grid__cell--span-12.content-padding-top.content
				div(style="width:100%")
					#my-friends-graph.graph(style=";height:100vh;background-color:white;" data-jsclass="graphController" data-endpoint= '/' + currentUser.username + '/friends.json')
