extends ../wrapper

block seo
	title.
		Settings

block content
	.container-fluid.content-padding-top.content
		.row
			.col-sm-12
				if currentUser.subscriptionStatus
					p= 'Status: ' + currentUser.subscriptionStatus
				
				- var prompt = '$1.50 a month'
				if ! _.get(currentUser,'subscription.stripe.stripeSubscriptionId')
					- prompt = '$1.50 a month w/free trial period of 15 days.'
					
				if environment.STRIPE_PK && environment.SUBSCRIPTION
					.statement(data-jsclass="paymentStatusController" data-pk= environment.STRIPE_PK data-email= currentUser.email data-prompt= 'Subscribe: ' + prompt data-terms="Cancel any time.")
					
