
block seo
	title.
		Testbench

block content
	.container-fluid.content-padding-top.content

		.page-header
			h1 Testbench
		.row
			.col-xs-12
				for connection in connections
					li= connection.key + ' ' + connection.status
					
