extends ../wrapper

block seo
	title.
		Testbench

block content
	.container-fluid.content-padding-top.content

		.page-header
			h1 Testbench
		.row
			.col-xs-12
				#my-friends-graph.graph(style="width:100%;height:100vh;" data-jsclass="graphController" data-endpoint= '/' + currentUser.username + '/friends.json')
