extends ../wrapper

block seo
	title.
		Testbench

block content
	.container-fluid.content-padding-top.content

		.page-header
			h1 Testbench
		.row
			.col-xs-12
				script(src="/socket.io/socket.io.js")
				.test(data-jsclass="websocketController" data-endpoint = 'wss://' + config.host + ':' + config.port)
