extends ../wrapper

block seo
	title.
		Testbench

block content
	.container-fluid.content-padding-top.content

		.page-header
			h1 Testbench
		.row
			.col-xs-12

				.test(data-jsclass="liveTimeController")
					.timestamp(data-timestamp= moment().toISOString())
						| timestamp here
