extends ../wrapper

block seo
	title.
		Transfer Token

block content
	.container-fluid.content-padding-top.content
		.row
			.col-sm-6
				h2.mb-3 Account Transfer Token

				p= 'Your account transfer token is used to move your account to another server. Do not share this with anyone - it allows the complete download of all of your antisocial data. Copy the token and paste it into your new server on the /transfer page.'

				p= 'This token expires in two hours:'
				
				textarea(style="height:100px;").form-control=token
				
